In [1]:
import pandas as pd
import os
import zipfile

In [4]:
os.getcwd()
os.chdir('F:\projetos\historico_voos')
os.getcwd()

'F:\\projetos\\historico_voos'

In [5]:
caminho = os.getcwd() + '\\data\\processed\\df_dados_voo_completo.zip'

In [7]:
with zipfile.ZipFile(caminho) as z:
    print(*z.namelist(), sep='\n')
    with z.open('df_dados_voo_completo.csv') as df:
        dados_vooo_completo = pd.read_csv(df, sep=';', encoding='ISO-8859-1')

df_dados_voo_completo.csv

F:\projetos\historico_voos\venv\lib\site-packages\IPython\core\interactiveshell.py:3258: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
dados_vooo_completo.head()

,Unnamed: 0,?SG_ICAO_EMPRESA_AEREA,NR_VOO,CODIGO_DI,CODIGO_TIPO_LINHA,SIGLA_ICAO_AEROPORTO_ORIGEM,SIGLA_ICAO_AEROPORTO_DESTINO,PARTIDA_PREVISTA,PARTIDA_REAL,CHEGADA_PREVISTA,...,CONTINENTE_AEROPORTO_DESTINO,SIGLA_OACI_AEROPORTO_ORIGEM,DESCRICAO_AEROPORTO_ORIGEM,CIDADE_AEROPORTO_ORIGEM,UF_AEROPORTO_ORIGEM,PAIS_AEROPORTO_DORIGEM,CONTINENTE_AEROPORTO_ORIGEM,SIGLA_OACI_EMPRESAS,NM_EMPRESAS,NACIONAL_OU_ESTRANGEIRA
0,0,AAL,262,0,I,SBGL,KMIA,2022-03-01 22:30:00,2022-03-01 22:35:00,2022-03-02 07:10:00,...,AMERICA DO NORTE,SBGL,AEROPORTO INTERNACIONAL DO RIO DE JANEIRO/GALE...,RIO DE JANEIRO,RJ,BRASIL,AMERICA DO SUL,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA
1,1,AAL,263,0,I,KMIA,SBGL,2022-03-01 00:45:00,2022-03-01 01:58:00,2022-03-01 09:05:00,...,AMERICA DO SUL,KMIA,MIAMI INTERNATIONAL AIRPORT,MIAMI,NaN,ESTADOS UNIDOS DA AMERICA,AMERICA DO NORTE,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA
2,2,AAL,789,2,X,KMIA,SBGR,NaN,2022-03-01 02:54:00,NaN,...,AMERICA DO SUL,KMIA,MIAMI INTERNATIONAL AIRPORT,MIAMI,NaN,ESTADOS UNIDOS DA AMERICA,AMERICA DO NORTE,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA
3,3,AAL,790,2,X,SBGR,KMIA,NaN,2022-03-01 11:17:00,NaN,...,AMERICA DO NORTE,SBGR,GUARULHOS - GOVERNADOR ANDRÃ FRANCO MONTORO,GUARULHOS,SP,BRASIL,AMERICA DO SUL,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA
4,4,AAL,904,0,I,SBGL,KMIA,2022-03-01 00:05:00,2022-03-01 00:00:00,2022-03-01 08:40:00,...,AMERICA DO NORTE,SBGL,AEROPORTO INTERNACIONAL DO RIO DE JANEIRO/GALE...,RIO DE JANEIRO,RJ,BRASIL,AMERICA DO SUL,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA

In [10]:
dados_vooo_completo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 789907 entries, 0 to 789906
Data columns (total 27 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Unnamed: 0                    789907 non-null  int64
 1   ?SG_ICAO_EMPRESA_AEREA        789907 non-null  object
 2   NR_VOO                        789907 non-null  object
 3   CODIGO_DI                     789907 non-null  object
 4   CODIGO_TIPO_LINHA             789904 non-null  object
 5   SIGLA_ICAO_AEROPORTO_ORIGEM   789907 non-null  object
 6   SIGLA_ICAO_AEROPORTO_DESTINO  789907 non-null  object
 7   PARTIDA_PREVISTA              771720 non-null  object
 8   PARTIDA_REAL                  753684 non-null  object
 9   CHEGADA_PREVISTA              771720 non-null  object
 10  CHEGADA_REAL                  753665 non-null  object
 11  SITUACAO_VOO                  789907 non-null  object
 12  SIGLA_OACI_AEROPORTO_DESTINO  780971 non-null  object
 13  DESCRICAO_AEROPORTO_DESTINO   780971 non-null  object
 14  CIDADE_AEROPORTO_DESTINO      779435 non-null  object
 15  UF_AEROPORTO_DESTINO          727648 non-null  object
 16  PAIS_AEROPORTO_DESTINO        780971 non-null  object
 17  CONTINENTE_AEROPORTO_DESTINO  780971 non-null  object
 18  SIGLA_OACI_AEROPORTO_ORIGEM   781046 non-null  object
 19  DESCRICAO_AEROPORTO_ORIGEM    781046 non-null  object
 20  CIDADE_AEROPORTO_ORIGEM       779650 non-null  object
 21  UF_AEROPORTO_ORIGEM           728009 non-null  object
 22  PAIS_AEROPORTO_DORIGEM        781046 non-null  object
 23  CONTINENTE_AEROPORTO_ORIGEM   781046 non-null  object
 24  SIGLA_OACI_EMPRESAS           754369 non-null  object
 25  NM_EMPRESAS                   754369 non-null  object
 26  NACIONAL_OU_ESTRANGEIRA       752999 non-null  object
dtypes: int64(1), object(26)
memory usage: 162.7+ MB

In [14]:
dados_vooo_completo['?SG_ICAO_EMPRESA_AEREA'] = dados_vooo_completo['?SG_ICAO_EMPRESA_AEREA'].astype('string')
dados_vooo_completo['NR_VOO'] = dados_vooo_completo['NR_VOO'].astype('string')
dados_vooo_completo['CODIGO_DI'] = dados_vooo_completo['CODIGO_DI'].astype('string')
dados_vooo_completo['CODIGO_TIPO_LINHA'] = dados_vooo_completo['CODIGO_TIPO_LINHA'].astype('string')
dados_vooo_completo['SIGLA_ICAO_AEROPORTO_ORIGEM'] = dados_vooo_completo['SIGLA_ICAO_AEROPORTO_ORIGEM'].astype('string')
dados_vooo_completo['SIGLA_ICAO_AEROPORTO_DESTINO'] = dados_vooo_completo['SIGLA_ICAO_AEROPORTO_DESTINO'].astype(
    'string')
dados_vooo_completo['PARTIDA_PREVISTA'] = pd.to_datetime(dados_vooo_completo['PARTIDA_PREVISTA'],
                                                         format='%Y-%m-%d %H:%M', errors='coerce')
dados_vooo_completo['PARTIDA_REAL'] = pd.to_datetime(dados_vooo_completo['PARTIDA_REAL'], format='%Y-%m-%d %H:%M',
                                                     errors='coerce')
dados_vooo_completo['CHEGADA_PREVISTA'] = pd.to_datetime(dados_vooo_completo['CHEGADA_PREVISTA'],
                                                         format='%Y-%m-%d %H:%M', errors='coerce')
dados_vooo_completo['CHEGADA_REAL'] = pd.to_datetime(dados_vooo_completo['CHEGADA_REAL'], format='%Y-%m-%d %H:%M',
                                                     errors='coerce')
dados_vooo_completo['SITUACAO_VOO'] = dados_vooo_completo['SITUACAO_VOO'].astype('string')
dados_vooo_completo['DESCRICAO_AEROPORTO_DESTINO'] = dados_vooo_completo['DESCRICAO_AEROPORTO_DESTINO'].astype('string')
dados_vooo_completo['CIDADE_AEROPORTO_DESTINO'] = dados_vooo_completo['CIDADE_AEROPORTO_DESTINO'].astype('string')
dados_vooo_completo['UF_AEROPORTO_DESTINO'] = dados_vooo_completo['UF_AEROPORTO_DESTINO'].astype('string')
dados_vooo_completo['UF_AEROPORTO_ORIGEM'] = dados_vooo_completo['UF_AEROPORTO_ORIGEM'].astype('string')
dados_vooo_completo['PAIS_AEROPORTO_DESTINO'] = dados_vooo_completo['PAIS_AEROPORTO_DESTINO'].astype('string')
dados_vooo_completo['CONTINENTE_AEROPORTO_DESTINO'] = dados_vooo_completo['CONTINENTE_AEROPORTO_DESTINO'].astype(
    'string')
dados_vooo_completo['DESCRICAO_AEROPORTO_ORIGEM'] = dados_vooo_completo['DESCRICAO_AEROPORTO_ORIGEM'].astype('string')
dados_vooo_completo['CIDADE_AEROPORTO_ORIGEM'] = dados_vooo_completo['CIDADE_AEROPORTO_ORIGEM'].astype('string')
dados_vooo_completo['CIDADE_AEROPORTO_DESTINO'] = dados_vooo_completo['CIDADE_AEROPORTO_DESTINO'].astype('string')
dados_vooo_completo['PAIS_AEROPORTO_DORIGEM'] = dados_vooo_completo['PAIS_AEROPORTO_DORIGEM'].astype('string')
dados_vooo_completo['PAIS_AEROPORTO_DORIGEM'] = dados_vooo_completo['PAIS_AEROPORTO_DORIGEM'].astype('string')
dados_vooo_completo['CONTINENTE_AEROPORTO_ORIGEM'] = dados_vooo_completo['CONTINENTE_AEROPORTO_ORIGEM'].astype('string')
dados_vooo_completo['NM_EMPRESAS'] = dados_vooo_completo['NM_EMPRESAS'].astype('string')
dados_vooo_completo['NACIONAL_OU_ESTRANGEIRA'] = dados_vooo_completo['NACIONAL_OU_ESTRANGEIRA'].astype('string')
dados_vooo_completo['SIGLA_OACI_AEROPORTO_DESTINO'] = dados_vooo_completo['SIGLA_OACI_AEROPORTO_DESTINO'].astype(
    'string')
dados_vooo_completo['SIGLA_OACI_AEROPORTO_ORIGEM'] = dados_vooo_completo['SIGLA_OACI_AEROPORTO_ORIGEM'].astype('string')
dados_vooo_completo['SIGLA_OACI_EMPRESAS'] = dados_vooo_completo['SIGLA_OACI_EMPRESAS'].astype('string')

In [15]:
dados_vooo_completo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 789907 entries, 0 to 789906
Data columns (total 27 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Unnamed: 0                    789907 non-null  int64
 1   ?SG_ICAO_EMPRESA_AEREA        789907 non-null  string
 2   NR_VOO                        789907 non-null  string
 3   CODIGO_DI                     789907 non-null  string
 4   CODIGO_TIPO_LINHA             789904 non-null  string
 5   SIGLA_ICAO_AEROPORTO_ORIGEM   789907 non-null  string
 6   SIGLA_ICAO_AEROPORTO_DESTINO  789907 non-null  string
 7   PARTIDA_PREVISTA              771720 non-null  datetime64[ns]
 8   PARTIDA_REAL                  753684 non-null  datetime64[ns]
 9   CHEGADA_PREVISTA              771720 non-null  datetime64[ns]
 10  CHEGADA_REAL                  753665 non-null  datetime64[ns]
 11  SITUACAO_VOO                  789907 non-null  string
 12  SIGLA_OACI_AEROPORTO_DESTINO  780971 non-null  string
 13  DESCRICAO_AEROPORTO_DESTINO   780971 non-null  string
 14  CIDADE_AEROPORTO_DESTINO      779435 non-null  string
 15  UF_AEROPORTO_DESTINO          727648 non-null  string
 16  PAIS_AEROPORTO_DESTINO        780971 non-null  string
 17  CONTINENTE_AEROPORTO_DESTINO  780971 non-null  string
 18  SIGLA_OACI_AEROPORTO_ORIGEM   781046 non-null  string
 19  DESCRICAO_AEROPORTO_ORIGEM    781046 non-null  string
 20  CIDADE_AEROPORTO_ORIGEM       779650 non-null  string
 21  UF_AEROPORTO_ORIGEM           728009 non-null  string
 22  PAIS_AEROPORTO_DORIGEM        781046 non-null  string
 23  CONTINENTE_AEROPORTO_ORIGEM   781046 non-null  string
 24  SIGLA_OACI_EMPRESAS           754369 non-null  string
 25  NM_EMPRESAS                   754369 non-null  string
 26  NACIONAL_OU_ESTRANGEIRA       752999 non-null  string
dtypes: datetime64[ns](4), int64(1), string(22)
memory usage: 162.7 MB

# Criar colunas de tempo -> Trimestre, mês, turno (Manhã, tarde, noite, madrugada)

In [54]:
colunas_tempo = ['PARTIDA_REAL', 'PARTIDA_PREVISTA', 'CHEGADA_PREVISTA', 'CHEGADA_REAL']
traducao_dias = {'Monday': 'Segunda-feira',
                 'Tuesday': 'Terça-feira',
                 'Wednesday': 'Quarta-feira',
                 'Thursday': 'Quinta-feira',
                 'Friday': 'Sexta-feira',
                 'Saturday': 'Sábado',
                 'Sunday': 'Domingo'}
mes = {
    1.0: 'Janeiro',
    2.0: 'Fevereiro',
    3.0: 'Março',
    4.0: 'Abril',
    5.0: 'Maio',
    6.0: 'Junho',
    7.0: 'Julho',
    8.0: 'Agosto',
    9.0: 'Setembro',
    10.0: 'Outubro',
    11.0: 'Novembro',
    12.0: 'Dezembro'
}

trimeste = {
    1.0 : 'Primeiro trimestre' ,
    2.0: 'Primeiro trimestre' ,
    3.0: 'Primeiro trimestre' ,
    4.0: 'Segundo trimestre' ,
    5.0: 'Segundo trimestre' ,
    6.0: 'Segundo trimestre' ,
    7.0: 'Terceiro trimestre' ,
    8.0: 'Terceiro trimestre' ,
    9.0: 'Terceiro trimestre' ,
    10.0: 'Quarto trimestre' ,
    11.0: 'Quarto trimestre' ,
    12.0: 'Quarto trimestre'
}

def turno(horario):
    if 0.0 < horario < 6.0:
        return 'Madrugada'
    elif 6.0 <= horario < 12.0:
        return 'Manhã'
    elif 12.0 <= horario < 6.0:
        return 'Tarde'
    else:
        return 'Noite'

In [55]:
for coluna_tempo in colunas_tempo:
    dados_vooo_completo['DATA_' + coluna_tempo] = pd.to_datetime(dados_vooo_completo[coluna_tempo].dt.date)
    dados_vooo_completo['HORA_' + coluna_tempo] = dados_vooo_completo[coluna_tempo].dt.time
    dados_vooo_completo['DIA_SEMANA_' + coluna_tempo] = dados_vooo_completo[coluna_tempo].dt.day_name().apply(
        lambda x: traducao_dias.get(x, 'Não Encontrado')).astype('string')
    dados_vooo_completo['MES_' + coluna_tempo] = dados_vooo_completo[coluna_tempo].dt.month.apply(
        lambda x: mes.get(x, 'Não Encontrado')).astype('string')
    dados_vooo_completo['TRIMESTRE_' + coluna_tempo] = dados_vooo_completo[coluna_tempo].dt.month.apply(
        lambda x: trimeste.get(x, 'Não Encontrado')).astype('string')
    dados_vooo_completo['TURNO_' + coluna_tempo] = dados_vooo_completo[coluna_tempo].dt.hour.apply(turno)

In [61]:
dados_vooo_completo.head()

,Unnamed: 0,?SG_ICAO_EMPRESA_AEREA,NR_VOO,CODIGO_DI,CODIGO_TIPO_LINHA,SIGLA_ICAO_AEROPORTO_ORIGEM,SIGLA_ICAO_AEROPORTO_DESTINO,PARTIDA_PREVISTA,PARTIDA_REAL,CHEGADA_PREVISTA,...,TRIMESTRE_CHEGADA_PREVISTA,DATA_CHEGADA_REAL,HORA_CHEGADA_REAL,DIA_SEMANA_CHEGADA_REAL,MES_CHEGADA_REAL,TRIMESTRE_CHEGADA_REAL,TURNO_PARTIDA_REAL,TURNO_PARTIDA_PREVISTA,TURNO_CHEGADA_PREVISTA,TURNO_CHEGADA_REAL
0,0,AAL,262,0,I,SBGL,KMIA,2022-03-01 22:30:00,2022-03-01 22:35:00,2022-03-02 07:10:00,...,Primeiro trimestre,2022-03-02,07:11:00,Quarta-feira,Março,Primeiro trimestre,Noite,Noite,Manhã,Manhã
1,1,AAL,263,0,I,KMIA,SBGL,2022-03-01 00:45:00,2022-03-01 01:58:00,2022-03-01 09:05:00,...,Primeiro trimestre,2022-03-01,11:07:00,Terça-feira,Março,Primeiro trimestre,Madrugada,Noite,Manhã,Manhã
2,2,AAL,789,2,X,KMIA,SBGR,NaT,2022-03-01 02:54:00,NaT,...,Não Encontrado,2022-03-01,11:02:00,Terça-feira,Março,Primeiro trimestre,Madrugada,Noite,Noite,Manhã
3,3,AAL,790,2,X,SBGR,KMIA,NaT,2022-03-01 11:17:00,NaT,...,Não Encontrado,2022-03-01,19:13:00,Terça-feira,Março,Primeiro trimestre,Manhã,Noite,Noite,Noite
4,4,AAL,904,0,I,SBGL,KMIA,2022-03-01 00:05:00,2022-03-01 00:00:00,2022-03-01 08:40:00,...,Primeiro trimestre,2022-03-01,08:03:00,Terça-feira,Março,Primeiro trimestre,Noite,Noite,Manhã,Manhã

# quantos vôos cancelados, atrasado, Realizados, -> Filtrar por nome de compania, aeroporto, mês ano

<h6>Total Vôos Empresas</h6>

In [75]:
total_voos_registrados = dados_vooo_completo.groupby(['NM_EMPRESAS'])['NM_EMPRESAS'].count()
total_voos_registrados = total_voos_registrados.rename_axis('index').reset_index()
total_voos_registrados.rename(
    columns={
        'index': 'NM_EMPRESAS',
        'NM_EMPRESAS': 'TOTAL_VOOS_EMPRESAS'
    },
    inplace=True
)
total_voos_registrados.sort_values(by='TOTAL_VOOS_EMPRESAS', ascending=False)

                                          NM_EMPRESAS  TOTAL_VOOS_EMPRESAS
14                                               AZUL               267412
43                                                TAM               203965
23                                                GOL               184351
37                                          PASSAREDO                13643
46                                   TAP AIR PORTUGAL                 6487
18                COPA -COMPANIA PANAMENA DE AVIACION                 6335
2                               AEROLINEAS ARGENTINAS                 5884
34                                  MAP LINHAS AEREAS                 5213
29                                          LAN CHILE                 4410
1                                                ABSA                 4308
38                                      QATAR AIRWAYS                 4098
10                              AMERICAN AIRLINES INC                 3503
49                                    UNITED AIRLINES                 2766
12                                            AVIANCA                 2726
47                                              TOTAL                 2664
21                                ETHIOPIAN AIR LINES                 2433
28                                      LAN CARGO S.A                 2283
11                                      ATLAS AIR INC                 2085
9                                          AIR FRANCE                 2043
16                                BRITISH AIRWAYS PLC                 1766
48                              TURKISH AIRLINES INC.                 1424
31              LINEA AEREA CARGUERA DE COLOMBIA S.A.                 1408
6                                          AIR CANADA                 1401
26                           KLM ROYAL DUTCH AIRLINES                 1381
36                                    MODERN TRANSPOR                 1370
44                        TAM TRANSP.AÂR.DEL.MERCOS.                 1355
50                              UNITED PARCEL SERVICE                 1247
33                                 LUFTHANSA CARGO AG                 1193
35                             MARTINAIR HOLLAND N.V.                 1190
17                                  CARGOLUX AIRLINES                 1136
32                                          LUFTHANSA                 1103
45                                          TAMPA S/A                 1051
19                                     DELTA AIRLINES                 1022
27                                    KOREAN AIRLINES                 1019
20                                           EMIRATES                  943
30                                       LAN PERU S/A                  933
15                              BOLIVIANA DE AVIACION                  920
24                                             IBERIA                  875
41                                           SWISSAIR                  867
3                                          AEROMEXICO                  812
22                                    FEDERAL EXPRESS                  800
8                                      AIR EUROPA S/A                  629
0                                              ABAETE                  616
42                       TAAG LINHAS AEREAS DE ANGOLA                  432
25                                    KALITTA AIR LLC                  302
4           AEROTRANSPORTES MAS DE CARGA S.A. DE C.V.                  232
5                               AIR ATLANTA ICELANDIC                  148
7                                           AIR CHINA                   96
40                                    SURINAM AIRWAYS                   82
13                                  AVIOR AIRLINES CA                    4
39  SATA INTERNACIONAL - SERVIÃOS E TRANSPORTES A...                    3

In [58]:
total_voos = dados_vooo_completo.groupby(['SITUACAO_VOO'])['SITUACAO_VOO'].count()
total_voos = total_voos.rename_axis('index').reset_index()
total_voos.rename(
    columns={
        'index': 'SITUACAO_VOO',
        'SITUACAO_VOO': 'TOTAL'}
    , inplace=True
)
total_voos['PERCENTUAL'] = total_voos['TOTAL'] * 100 / total_voos_registrados
total_voos

     SITUACAO_VOO   TOTAL  PERCENTUAL
0       CANCELADO   35654    4.513696
1  NÃO INFORMADO     567    0.071781
2       REALIZADO  753686   95.414523

In [110]:
dados_vooo_completo.head()

<StringArray>
['ESTRANGEIRA', 'BRASILEIRA', <NA>]
Length: 3, dtype: string

In [111]:
df_filtrado = dados_vooo_completo[(dados_vooo_completo['SITUACAO_VOO'] == 'CANCELADO') & (dados_vooo_completo['NACIONAL_OU_ESTRANGEIRA'] == 'BRASILEIRA')]
df_filtrado.groupby(['NM_EMPRESAS'])['SITUACAO_VOO'].count()

NM_EMPRESAS
ABAETE                 116
ABSA                   848
AZUL                 10064
GOL                   2179
MAP LINHAS AEREAS      939
PASSAREDO             2685
TAM                   3294
TOTAL                  324
Name: SITUACAO_VOO, dtype: int64

In [91]:
 df_situacao_voo.g

NM_EMPRESAS
ABAETE                                                         116
ABSA                                                           848
AEROLINEAS ARGENTINAS                                          821
AEROMEXICO                                                      15
AEROTRANSPORTES MAS DE CARGA S.A. DE C.V.                       46
AIR ATLANTA ICELANDIC                                           49
AIR CANADA                                                      97
AIR CHINA                                                       96
AIR EUROPA S/A                                                  10
AIR FRANCE                                                      90
AMERICAN AIRLINES INC                                          750
ATLAS AIR INC                                                  475
AVIANCA                                                        314
AZUL                                                         10064
BOLIVIANA DE AVIACION                                           59
BRITISH AIRWAYS PLC                                            119
CARGOLUX AIRLINES                                              211
COPA -COMPANIA PANAMENA DE AVIACION                            106
DELTA AIRLINES                                                  16
EMIRATES                                                        61
ETHIOPIAN AIR LINES                                           1008
FEDERAL EXPRESS                                                 71
GOL                                                           2179
IBERIA                                                         183
KALITTA AIR LLC                                                122
KLM ROYAL DUTCH AIRLINES                                       128
KOREAN AIRLINES                                                 36
LAN CARGO S.A                                                  211
LAN CHILE                                                      194
LAN PERU S/A                                                    14
LINEA AEREA CARGUERA DE COLOMBIA S.A.                          188
LUFTHANSA                                                       11
LUFTHANSA CARGO AG                                              48
MAP LINHAS AEREAS                                              939
MARTINAIR HOLLAND N.V.                                         208
MODERN TRANSPOR                                                 75
PASSAREDO                                                     2685
QATAR AIRWAYS                                                 2195
SATA INTERNACIONAL - SERVIÃOS E TRANSPORTES AÃREOS S.A.        2
SWISSAIR                                                         6
TAAG LINHAS AEREAS DE ANGOLA                                    91
TAM                                                           3294
TAM TRANSP.AÂR.DEL.MERCOS.                                    359
TAMPA S/A                                                      154
TAP AIR PORTUGAL                                               101
TOTAL                                                          324
TURKISH AIRLINES INC.                                          111
UNITED AIRLINES                                                 43
UNITED PARCEL SERVICE                                           37
Name: NM_EMPRESAS, dtype: int64