In [1]:
import pandas as pda

In [2]:
dados_vooo_completo = pd.read_csv('../data/processed/df_dados_voo_completo.csv', sep=';', encoding='utf-8')

C:\Users\silva\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3553: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
dados_vooo_completo.head()

,Unnamed: 0,?SG_ICAO_EMPRESA_AEREA,NR_VOO,CODIGO_DI,CODIGO_TIPO_LINHA,SIGLA_ICAO_AEROPORTO_ORIGEM,SIGLA_ICAO_AEROPORTO_DESTINO,PARTIDA_PREVISTA,PARTIDA_REAL,CHEGADA_PREVISTA,...,CONTINENTE_AEROPORTO_DESTINO,SIGLA_OACI_AEROPORTO_ORIGEM,DESCRICAO_AEROPORTO_ORIGEM,CIDADE_AEROPORTO_ORIGEM,UF_AEROPORTO_ORIGEM,PAIS_AEROPORTO_DORIGEM,CONTINENTE_AEROPORTO_ORIGEM,SIGLA_OACI_EMPRESAS,NM_EMPRESAS,NACIONAL_OU_ESTRANGEIRA
0,0,AAL,262,0,I,SBGL,KMIA,2022-03-01 22:30:00,2022-03-01 22:35:00,2022-03-02 07:10:00,...,AMERICA DO NORTE,SBGL,AEROPORTO INTERNACIONAL DO RIO DE JANEIRO/GALE...,RIO DE JANEIRO,RJ,BRASIL,AMERICA DO SUL,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA
1,1,AAL,263,0,I,KMIA,SBGL,2022-03-01 00:45:00,2022-03-01 01:58:00,2022-03-01 09:05:00,...,AMERICA DO SUL,KMIA,MIAMI INTERNATIONAL AIRPORT,MIAMI,NaN,ESTADOS UNIDOS DA AMERICA,AMERICA DO NORTE,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA
2,2,AAL,789,2,X,KMIA,SBGR,NaN,2022-03-01 02:54:00,NaN,...,AMERICA DO SUL,KMIA,MIAMI INTERNATIONAL AIRPORT,MIAMI,NaN,ESTADOS UNIDOS DA AMERICA,AMERICA DO NORTE,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA
3,3,AAL,790,2,X,SBGR,KMIA,NaN,2022-03-01 11:17:00,NaN,...,AMERICA DO NORTE,SBGR,GUARULHOS - GOVERNADOR ANDRÉ FRANCO MONTORO,GUARULHOS,SP,BRASIL,AMERICA DO SUL,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA
4,4,AAL,904,0,I,SBGL,KMIA,2022-03-01 00:05:00,2022-03-01 00:00:00,2022-03-01 08:40:00,...,AMERICA DO NORTE,SBGL,AEROPORTO INTERNACIONAL DO RIO DE JANEIRO/GALE...,RIO DE JANEIRO,RJ,BRASIL,AMERICA DO SUL,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA

In [4]:
dados_vooo_completo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 789907 entries, 0 to 789906
Data columns (total 27 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Unnamed: 0                    789907 non-null  int64
 1   ?SG_ICAO_EMPRESA_AEREA        789907 non-null  object
 2   NR_VOO                        789907 non-null  object
 3   CODIGO_DI                     789907 non-null  object
 4   CODIGO_TIPO_LINHA             789904 non-null  object
 5   SIGLA_ICAO_AEROPORTO_ORIGEM   789907 non-null  object
 6   SIGLA_ICAO_AEROPORTO_DESTINO  789907 non-null  object
 7   PARTIDA_PREVISTA              771720 non-null  object
 8   PARTIDA_REAL                  753684 non-null  object
 9   CHEGADA_PREVISTA              771720 non-null  object
 10  CHEGADA_REAL                  753665 non-null  object
 11  SITUACAO_VOO                  789907 non-null  object
 12  SIGLA_OACI_AEROPORTO_DESTINO  780971 non-null  object
 13  DESCRICAO_AEROPORTO_DESTINO   780971 non-null  object
 14  CIDADE_AEROPORTO_DESTINO      779435 non-null  object
 15  UF_AEROPORTO_DESTINO          727648 non-null  object
 16  PAIS_AEROPORTO_DESTINO        780971 non-null  object
 17  CONTINENTE_AEROPORTO_DESTINO  780971 non-null  object
 18  SIGLA_OACI_AEROPORTO_ORIGEM   781046 non-null  object
 19  DESCRICAO_AEROPORTO_ORIGEM    781046 non-null  object
 20  CIDADE_AEROPORTO_ORIGEM       779650 non-null  object
 21  UF_AEROPORTO_ORIGEM           728009 non-null  object
 22  PAIS_AEROPORTO_DORIGEM        781046 non-null  object
 23  CONTINENTE_AEROPORTO_ORIGEM   781046 non-null  object
 24  SIGLA_OACI_EMPRESAS           754369 non-null  object
 25  NM_EMPRESAS                   754369 non-null  object
 26  NACIONAL_OU_ESTRANGEIRA       752999 non-null  object
dtypes: int64(1), object(26)
memory usage: 162.7+ MB

In [ ]:
dados_vooo_completo['?SG_ICAO_EMPRESA_AEREA'] = dados_vooo_completo['?SG_ICAO_EMPRESA_AEREA'].astype('string')
dados_vooo_completo['NR_VOO'] = dados_vooo_completo['NR_VOO'].astype('string')
dados_vooo_completo['CODIGO_DI'] = dados_vooo_completo['CODIGO_DI'].astype('string')
dados_vooo_completo['CODIGO_TIPO_LINHA'] = dados_vooo_completo['CODIGO_TIPO_LINHA'].astype('string')
dados_vooo_completo['SIGLA_ICAO_AEROPORTO_ORIGEM'] = dados_vooo_completo['SIGLA_ICAO_AEROPORTO_ORIGEM'].astype('string')
dados_vooo_completo['SIGLA_ICAO_AEROPORTO_DESTINO'] = dados_vooo_completo['SIGLA_ICAO_AEROPORTO_DESTINO'].astype(
    'string')
dados_vooo_completo['PARTIDA_PREVISTA'] = pd.to_datetime(dados_vooo_completo['PARTIDA_PREVISTA'],
                                                         format='%Y-%m-%d %H:%M', errors='coerce')
dados_vooo_completo['PARTIDA_REAL'] = pd.to_datetime(dados_vooo_completo['PARTIDA_REAL'], format='%Y-%m-%d %H:%M',
                                                     errors='coerce')
dados_vooo_completo['CHEGADA_PREVISTA'] = pd.to_datetime(dados_vooo_completo['CHEGADA_PREVISTA'],
                                                         format='%Y-%m-%d %H:%M', errors='coerce')
dados_vooo_completo['CHEGADA_REAL'] = pd.to_datetime(dados_vooo_completo['CHEGADA_REAL'], format='%Y-%m-%d %H:%M',
                                                     errors='coerce')
dados_vooo_completo['SITUACAO_VOO'] = dados_vooo_completo['SITUACAO_VOO'].astype('string')
dados_vooo_completo['DESCRICAO_AEROPORTO_DESTINO'] = dados_vooo_completo['DESCRICAO_AEROPORTO_DESTINO'].astype('string')
dados_vooo_completo['CIDADE_AEROPORTO_DESTINO'] = dados_vooo_completo['CIDADE_AEROPORTO_DESTINO'].astype('string')
dados_vooo_completo['UF_AEROPORTO_DESTINO'] = dados_vooo_completo['UF_AEROPORTO_DESTINO'].astype('string')
dados_vooo_completo['UF_AEROPORTO_ORIGEM'] = dados_vooo_completo['UF_AEROPORTO_ORIGEM'].astype('string')
dados_vooo_completo['PAIS_AEROPORTO_DESTINO'] = dados_vooo_completo['PAIS_AEROPORTO_DESTINO'].astype('string')
dados_vooo_completo['CONTINENTE_AEROPORTO_DESTINO'] = dados_vooo_completo['CONTINENTE_AEROPORTO_DESTINO'].astype(
    'string')
dados_vooo_completo['DESCRICAO_AEROPORTO_ORIGEM'] = dados_vooo_completo['DESCRICAO_AEROPORTO_ORIGEM'].astype('string')
dados_vooo_completo['CIDADE_AEROPORTO_ORIGEM'] = dados_vooo_completo['CIDADE_AEROPORTO_ORIGEM'].astype('string')
dados_vooo_completo['CIDADE_AEROPORTO_DESTINO'] = dados_vooo_completo['CIDADE_AEROPORTO_DESTINO'].astype('string')
dados_vooo_completo['PAIS_AEROPORTO_DORIGEM'] = dados_vooo_completo['PAIS_AEROPORTO_DORIGEM'].astype('string')
dados_vooo_completo['PAIS_AEROPORTO_DORIGEM'] = dados_vooo_completo['PAIS_AEROPORTO_DORIGEM'].astype('string')
dados_vooo_completo['CONTINENTE_AEROPORTO_ORIGEM'] = dados_vooo_completo['CONTINENTE_AEROPORTO_ORIGEM'].astype('string')
dados_vooo_completo['NM_EMPRESAS'] = dados_vooo_completo['NM_EMPRESAS'].astype('string')
dados_vooo_completo['NACIONAL_OU_ESTRANGEIRA'] = dados_vooo_completo['NACIONAL_OU_ESTRANGEIRA'].astype('string')
dados_vooo_completo['SIGLA_OACI_AEROPORTO_DESTINO'] = dados_vooo_completo['SIGLA_OACI_AEROPORTO_DESTINO'].astype(
    'string')
dados_vooo_completo['SIGLA_OACI_AEROPORTO_ORIGEM'] = dados_vooo_completo['SIGLA_OACI_AEROPORTO_ORIGEM'].astype('string')
dados_vooo_completo['SIGLA_OACI_EMPRESAS'] = dados_vooo_completo['SIGLA_OACI_EMPRESAS'].astype('string')

In [ ]:
dados_vooo_completo.info()

# Criar colunas de tempo -> Trimestre, mês, turno (Manhã, tarde, noite, madrugada)

In [ ]:
colunas_tempo = ['PARTIDA_REAL', 'PARTIDA_PREVISTA', 'CHEGADA_PREVISTA', 'CHEGADA_REAL']
traducao_dias = {'Monday': 'Segunda-feira',
                 'Tuesday': 'Terça-feira',
                 'Wednesday': 'Quarta-feira',
                 'Thursday': 'Quinta-feira',
                 'Friday': 'Sexta-feira',
                 'Saturday': 'Sábado',
                 'Sunday': 'Domingo'}
mes = {
    1.0: 'janeiro',
    2.0: 'fevereiro',
    3.0: 'março',
    4.0: 'abril',
    5.0: 'maio',
    6.0: 'junho',
    7.0: 'julho',
    8.0: 'Agosto',
    9.0: 'Setembro',
    10.0: 'Outubro',
    11.0: 'Novembro',
    12.0: 'Dezembro'
}

trimeste = {
    1.0 : 'primeiro trimestre' ,
    2.0: 'primeiro trimestre' ,
    3.0: 'primeiro trimestre' ,
    4.0: 'segundo trimestre' ,
    5.0: 'segundo trimestre' ,
    6.0: 'segundo trimestre' ,
    7.0: 'terceiro trimestre' ,
    8.0: 'terceiro trimestre' ,
    9.0: 'terceiro trimestre' ,
    10.0: 'quarto trimestre' ,
    11.0: 'quarto trimestre' ,
    12.0: 'quarto trimestre'
}

def turno(horario):
    if 0 < horario < 6:
        return 'madrugada'
    elif 6 <= horario < 12:
        return 'manhã'
    elif 12 <= horario < 6:
        return 'tarde'
    else:
        return 'noite'

In [ ]:
for coluna_tempo in colunas_tempo:
    dados_vooo_completo['DATA_' + coluna_tempo] = dados_vooo_completo[coluna_tempo].dt.date
    dados_vooo_completo['HORA_' + coluna_tempo] = dados_vooo_completo[coluna_tempo].dt.time
    dados_vooo_completo['DIA_SEMANA_' + coluna_tempo] = dados_vooo_completo[coluna_tempo].dt.day_name().apply(
        lambda x: traducao_dias.get(x, 'Não Encontrado'))
    dados_vooo_completo['MES_' + coluna_tempo] = dados_vooo_completo[coluna_tempo].dt.month.apply(
        lambda x: mes.get(x, 'Não Encontrado'))
    dados_vooo_completo['TRIMESTRE_' + coluna_tempo] = dados_vooo_completo[coluna_tempo].dt.month.apply(
        lambda x: trimeste.get(x, 'Não Encontrado'))

In [ ]:
dados_vooo_completo.info()

In [ ]:
dados_vooo_completo[dados_vooo_completo['HORA_CHEGADA_PREVISTA'] < 5]

# quantos vôos cancelados, atrasado, Realizados, -> Filtrar por nome de compania, aeroporto, mês ano

In [ ]:
total_voos_registrados = dados_vooo_completo['NR_VOO'].count()
total_voos_registrados

In [ ]:
total_voos = dados_vooo_completo.groupby(['SITUACAO_VOO'])['SITUACAO_VOO'].count()
total_voos = total_voos.rename_axis('index').reset_index()
total_voos.rename(
    columns={
        'index': 'SITUACAO_VOO',
        'SITUACAO_VOO': 'TOTAL'}
    , inplace=True
)
total_voos['PERCENTUAL'] = total_voos['TOTAL'] * 100 / total_voos_registrados
total_voos

In [ ]:
total_voos[total_voos['SITUACAO_VOO'] == 'CANCELADO']['TOTAL']