In [1]:
import pandas as pd
import os
import zipfile
from typing import List

In [2]:
os.getcwd()
os.chdir('F:\projetos\historico_voos')
os.getcwd()

'F:\\projetos\\historico_voos'

In [3]:
caminho = os.getcwd() + '\\data\\processed\\df_dados_voo_completo.zip'

In [4]:
with zipfile.ZipFile(caminho) as z:
    with z.open('df_dados_voo_completo.csv') as df:
        dados_vooo_completo = pd.read_csv(df, sep=';', encoding='ISO-8859-1')

F:\projetos\historico_voos\venv\lib\site-packages\IPython\core\interactiveshell.py:3258: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
dados_vooo_completo.head()

,Unnamed: 0,?SG_ICAO_EMPRESA_AEREA,NR_VOO,CODIGO_DI,CODIGO_TIPO_LINHA,SIGLA_ICAO_AEROPORTO_ORIGEM,SIGLA_ICAO_AEROPORTO_DESTINO,PARTIDA_PREVISTA,PARTIDA_REAL,CHEGADA_PREVISTA,...,CONTINENTE_AEROPORTO_DESTINO,SIGLA_OACI_AEROPORTO_ORIGEM,DESCRICAO_AEROPORTO_ORIGEM,CIDADE_AEROPORTO_ORIGEM,UF_AEROPORTO_ORIGEM,PAIS_AEROPORTO_DORIGEM,CONTINENTE_AEROPORTO_ORIGEM,SIGLA_OACI_EMPRESAS,NM_EMPRESAS,NACIONAL_OU_ESTRANGEIRA
0,0,AAL,262,0,I,SBGL,KMIA,2022-03-01 22:30:00,2022-03-01 22:35:00,2022-03-02 07:10:00,...,AMERICA DO NORTE,SBGL,AEROPORTO INTERNACIONAL DO RIO DE JANEIRO/GALE...,RIO DE JANEIRO,RJ,BRASIL,AMERICA DO SUL,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA
1,1,AAL,263,0,I,KMIA,SBGL,2022-03-01 00:45:00,2022-03-01 01:58:00,2022-03-01 09:05:00,...,AMERICA DO SUL,KMIA,MIAMI INTERNATIONAL AIRPORT,MIAMI,NaN,ESTADOS UNIDOS DA AMERICA,AMERICA DO NORTE,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA
2,2,AAL,789,2,X,KMIA,SBGR,NaN,2022-03-01 02:54:00,NaN,...,AMERICA DO SUL,KMIA,MIAMI INTERNATIONAL AIRPORT,MIAMI,NaN,ESTADOS UNIDOS DA AMERICA,AMERICA DO NORTE,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA
3,3,AAL,790,2,X,SBGR,KMIA,NaN,2022-03-01 11:17:00,NaN,...,AMERICA DO NORTE,SBGR,GUARULHOS - GOVERNADOR ANDRÃ FRANCO MONTORO,GUARULHOS,SP,BRASIL,AMERICA DO SUL,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA
4,4,AAL,904,0,I,SBGL,KMIA,2022-03-01 00:05:00,2022-03-01 00:00:00,2022-03-01 08:40:00,...,AMERICA DO NORTE,SBGL,AEROPORTO INTERNACIONAL DO RIO DE JANEIRO/GALE...,RIO DE JANEIRO,RJ,BRASIL,AMERICA DO SUL,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA

In [6]:
dados_vooo_completo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 789907 entries, 0 to 789906
Data columns (total 27 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Unnamed: 0                    789907 non-null  int64
 1   ?SG_ICAO_EMPRESA_AEREA        789907 non-null  object
 2   NR_VOO                        789907 non-null  object
 3   CODIGO_DI                     789907 non-null  object
 4   CODIGO_TIPO_LINHA             789904 non-null  object
 5   SIGLA_ICAO_AEROPORTO_ORIGEM   789907 non-null  object
 6   SIGLA_ICAO_AEROPORTO_DESTINO  789907 non-null  object
 7   PARTIDA_PREVISTA              771720 non-null  object
 8   PARTIDA_REAL                  753684 non-null  object
 9   CHEGADA_PREVISTA              771720 non-null  object
 10  CHEGADA_REAL                  753665 non-null  object
 11  SITUACAO_VOO                  789907 non-null  object
 12  SIGLA_OACI_AEROPORTO_DESTINO  780971 non-null  object
 13  DESCRICAO_AEROPORTO_DESTINO   780971 non-null  object
 14  CIDADE_AEROPORTO_DESTINO      779435 non-null  object
 15  UF_AEROPORTO_DESTINO          727648 non-null  object
 16  PAIS_AEROPORTO_DESTINO        780971 non-null  object
 17  CONTINENTE_AEROPORTO_DESTINO  780971 non-null  object
 18  SIGLA_OACI_AEROPORTO_ORIGEM   781046 non-null  object
 19  DESCRICAO_AEROPORTO_ORIGEM    781046 non-null  object
 20  CIDADE_AEROPORTO_ORIGEM       779650 non-null  object
 21  UF_AEROPORTO_ORIGEM           728009 non-null  object
 22  PAIS_AEROPORTO_DORIGEM        781046 non-null  object
 23  CONTINENTE_AEROPORTO_ORIGEM   781046 non-null  object
 24  SIGLA_OACI_EMPRESAS           754369 non-null  object
 25  NM_EMPRESAS                   754369 non-null  object
 26  NACIONAL_OU_ESTRANGEIRA       752999 non-null  object
dtypes: int64(1), object(26)
memory usage: 162.7+ MB

In [7]:
dados_vooo_completo['?SG_ICAO_EMPRESA_AEREA'] = dados_vooo_completo['?SG_ICAO_EMPRESA_AEREA'].astype('string')
dados_vooo_completo['NR_VOO'] = dados_vooo_completo['NR_VOO'].astype('string')
dados_vooo_completo['CODIGO_DI'] = dados_vooo_completo['CODIGO_DI'].astype('string')
dados_vooo_completo['CODIGO_TIPO_LINHA'] = dados_vooo_completo['CODIGO_TIPO_LINHA'].astype('string')
dados_vooo_completo['SIGLA_ICAO_AEROPORTO_ORIGEM'] = dados_vooo_completo['SIGLA_ICAO_AEROPORTO_ORIGEM'].astype('string')
dados_vooo_completo['SIGLA_ICAO_AEROPORTO_DESTINO'] = dados_vooo_completo['SIGLA_ICAO_AEROPORTO_DESTINO'].astype(
    'string')
dados_vooo_completo['PARTIDA_PREVISTA'] = pd.to_datetime(dados_vooo_completo['PARTIDA_PREVISTA'],
                                                         format='%Y-%m-%d %H:%M', errors='coerce')
dados_vooo_completo['PARTIDA_REAL'] = pd.to_datetime(dados_vooo_completo['PARTIDA_REAL'], format='%Y-%m-%d %H:%M',
                                                     errors='coerce')
dados_vooo_completo['CHEGADA_PREVISTA'] = pd.to_datetime(dados_vooo_completo['CHEGADA_PREVISTA'],
                                                         format='%Y-%m-%d %H:%M', errors='coerce')
dados_vooo_completo['CHEGADA_REAL'] = pd.to_datetime(dados_vooo_completo['CHEGADA_REAL'], format='%Y-%m-%d %H:%M',
                                                     errors='coerce')
dados_vooo_completo['SITUACAO_VOO'] = dados_vooo_completo['SITUACAO_VOO'].astype('string')
dados_vooo_completo['DESCRICAO_AEROPORTO_DESTINO'] = dados_vooo_completo['DESCRICAO_AEROPORTO_DESTINO'].astype('string')
dados_vooo_completo['CIDADE_AEROPORTO_DESTINO'] = dados_vooo_completo['CIDADE_AEROPORTO_DESTINO'].astype('string')
dados_vooo_completo['UF_AEROPORTO_DESTINO'] = dados_vooo_completo['UF_AEROPORTO_DESTINO'].astype('string')
dados_vooo_completo['UF_AEROPORTO_ORIGEM'] = dados_vooo_completo['UF_AEROPORTO_ORIGEM'].astype('string')
dados_vooo_completo['PAIS_AEROPORTO_DESTINO'] = dados_vooo_completo['PAIS_AEROPORTO_DESTINO'].astype('string')
dados_vooo_completo['CONTINENTE_AEROPORTO_DESTINO'] = dados_vooo_completo['CONTINENTE_AEROPORTO_DESTINO'].astype(
    'string')
dados_vooo_completo['DESCRICAO_AEROPORTO_ORIGEM'] = dados_vooo_completo['DESCRICAO_AEROPORTO_ORIGEM'].astype('string')
dados_vooo_completo['CIDADE_AEROPORTO_ORIGEM'] = dados_vooo_completo['CIDADE_AEROPORTO_ORIGEM'].astype('string')
dados_vooo_completo['CIDADE_AEROPORTO_DESTINO'] = dados_vooo_completo['CIDADE_AEROPORTO_DESTINO'].astype('string')
dados_vooo_completo['PAIS_AEROPORTO_DORIGEM'] = dados_vooo_completo['PAIS_AEROPORTO_DORIGEM'].astype('string')
dados_vooo_completo['PAIS_AEROPORTO_DORIGEM'] = dados_vooo_completo['PAIS_AEROPORTO_DORIGEM'].astype('string')
dados_vooo_completo['CONTINENTE_AEROPORTO_ORIGEM'] = dados_vooo_completo['CONTINENTE_AEROPORTO_ORIGEM'].astype('string')
dados_vooo_completo['NM_EMPRESAS'] = dados_vooo_completo['NM_EMPRESAS'].astype('string')
dados_vooo_completo['NACIONAL_OU_ESTRANGEIRA'] = dados_vooo_completo['NACIONAL_OU_ESTRANGEIRA'].astype('string')
dados_vooo_completo['SIGLA_OACI_AEROPORTO_DESTINO'] = dados_vooo_completo['SIGLA_OACI_AEROPORTO_DESTINO'].astype(
    'string')
dados_vooo_completo['SIGLA_OACI_AEROPORTO_ORIGEM'] = dados_vooo_completo['SIGLA_OACI_AEROPORTO_ORIGEM'].astype('string')
dados_vooo_completo['SIGLA_OACI_EMPRESAS'] = dados_vooo_completo['SIGLA_OACI_EMPRESAS'].astype('string')

In [8]:
dados_vooo_completo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 789907 entries, 0 to 789906
Data columns (total 27 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Unnamed: 0                    789907 non-null  int64
 1   ?SG_ICAO_EMPRESA_AEREA        789907 non-null  string
 2   NR_VOO                        789907 non-null  string
 3   CODIGO_DI                     789907 non-null  string
 4   CODIGO_TIPO_LINHA             789904 non-null  string
 5   SIGLA_ICAO_AEROPORTO_ORIGEM   789907 non-null  string
 6   SIGLA_ICAO_AEROPORTO_DESTINO  789907 non-null  string
 7   PARTIDA_PREVISTA              771720 non-null  datetime64[ns]
 8   PARTIDA_REAL                  753684 non-null  datetime64[ns]
 9   CHEGADA_PREVISTA              771720 non-null  datetime64[ns]
 10  CHEGADA_REAL                  753665 non-null  datetime64[ns]
 11  SITUACAO_VOO                  789907 non-null  string
 12  SIGLA_OACI_AEROPORTO_DESTINO  780971 non-null  string
 13  DESCRICAO_AEROPORTO_DESTINO   780971 non-null  string
 14  CIDADE_AEROPORTO_DESTINO      779435 non-null  string
 15  UF_AEROPORTO_DESTINO          727648 non-null  string
 16  PAIS_AEROPORTO_DESTINO        780971 non-null  string
 17  CONTINENTE_AEROPORTO_DESTINO  780971 non-null  string
 18  SIGLA_OACI_AEROPORTO_ORIGEM   781046 non-null  string
 19  DESCRICAO_AEROPORTO_ORIGEM    781046 non-null  string
 20  CIDADE_AEROPORTO_ORIGEM       779650 non-null  string
 21  UF_AEROPORTO_ORIGEM           728009 non-null  string
 22  PAIS_AEROPORTO_DORIGEM        781046 non-null  string
 23  CONTINENTE_AEROPORTO_ORIGEM   781046 non-null  string
 24  SIGLA_OACI_EMPRESAS           754369 non-null  string
 25  NM_EMPRESAS                   754369 non-null  string
 26  NACIONAL_OU_ESTRANGEIRA       752999 non-null  string
dtypes: datetime64[ns](4), int64(1), string(22)
memory usage: 162.7 MB

# Criar colunas de tempo -> Trimestre, mês, turno (Manhã, tarde, noite, madrugada)

In [9]:
colunas_tempo = ['PARTIDA_REAL', 'PARTIDA_PREVISTA', 'CHEGADA_PREVISTA', 'CHEGADA_REAL']
traducao_dias = {'Monday': 'Segunda-feira',
                 'Tuesday': 'Terça-feira',
                 'Wednesday': 'Quarta-feira',
                 'Thursday': 'Quinta-feira',
                 'Friday': 'Sexta-feira',
                 'Saturday': 'Sábado',
                 'Sunday': 'Domingo'}
mes = {
    1.0: 'Janeiro',
    2.0: 'Fevereiro',
    3.0: 'Março',
    4.0: 'Abril',
    5.0: 'Maio',
    6.0: 'Junho',
    7.0: 'Julho',
    8.0: 'Agosto',
    9.0: 'Setembro',
    10.0: 'Outubro',
    11.0: 'Novembro',
    12.0: 'Dezembro'
}

trimeste = {
    1.0: 'Primeiro trimestre',
    2.0: 'Primeiro trimestre',
    3.0: 'Primeiro trimestre',
    4.0: 'Segundo trimestre',
    5.0: 'Segundo trimestre',
    6.0: 'Segundo trimestre',
    7.0: 'Terceiro trimestre',
    8.0: 'Terceiro trimestre',
    9.0: 'Terceiro trimestre',
    10.0: 'Quarto trimestre',
    11.0: 'Quarto trimestre',
    12.0: 'Quarto trimestre'
}


def turno(horario):
    if 0.0 < horario < 6.0:
        return 'Madrugada'
    elif 6.0 <= horario < 12.0:
        return 'Manhã'
    elif 12.0 <= horario < 6.0:
        return 'Tarde'
    else:
        return 'Noite'


def atraso_chegada(atraso: float):
    if atraso <= 0.0:
        return 'Chegou antes do previsto'
    elif 0.0 < atraso <= 60.0:
        return 'Chegada dentro da faixa Aceitavel'
    elif 60.0 < atraso <= 120.0:
        return 'Chegada com atraso de mais de 1h'
    elif 120.0 < atraso <= 240.0:
        return 'Chegada com atraso de mais de 2h'
    elif atraso > 240.0:
        return 'Chegada com atraso de mais de 4h'
    else:
        return 'Não encontrado'


def atraso_saida(atraso: float):
    if atraso <= 0.0:
        return 'Saída antes do previsto'
    elif 0.0 < atraso <= 60.0:
        return 'Saída dentro da faixa Aceitavel'
    elif 60.0 < atraso <= 120.0:
        return 'Saída com atraso de mais de 1h'
    elif 120.0 < atraso <= 240.0:
        return 'Saída com atraso de mais de 2h'
    elif atraso > 240.0:
        return 'Saída com atraso de mais de 4h'
    else:
        return 'Não encontrado'


def status_pontualidade(minuto: str):
    if minuto <= 0:
        return 'No Horário'
    return 'Atrasado'

In [10]:
for coluna_tempo in colunas_tempo:
    dados_vooo_completo['DATA_' + coluna_tempo] = pd.to_datetime(dados_vooo_completo[coluna_tempo].dt.date)
    dados_vooo_completo['HORA_' + coluna_tempo] = dados_vooo_completo[coluna_tempo].dt.time
    dados_vooo_completo['DIA_SEMANA_' + coluna_tempo] = dados_vooo_completo[coluna_tempo].dt.day_name().apply(
        lambda x: traducao_dias.get(x, 'Não Encontrado')).astype('string')
    dados_vooo_completo['MES_INDICE' + coluna_tempo] = dados_vooo_completo[coluna_tempo].dt.month
    dados_vooo_completo['MES_' + coluna_tempo] = dados_vooo_completo[coluna_tempo].dt.month.apply(
        lambda x: mes.get(x, 'Não Encontrado')).astype('string')
    dados_vooo_completo['TRIMESTRE_' + coluna_tempo] = dados_vooo_completo[coluna_tempo].dt.month.apply(
        lambda x: trimeste.get(x, 'Não Encontrado')).astype('string')
    dados_vooo_completo['TURNO_' + coluna_tempo] = dados_vooo_completo[coluna_tempo].dt.hour.apply(turno).astype(
        'string')

In [11]:
dados_vooo_completo['ATRASO_SAIDA'] = (dados_vooo_completo['PARTIDA_REAL'] - dados_vooo_completo[
    'PARTIDA_PREVISTA']) / pd.Timedelta(minutes=1)
dados_vooo_completo['ATRASO_CHEGADA'] = (dados_vooo_completo['CHEGADA_REAL'] - dados_vooo_completo[
    'CHEGADA_PREVISTA']) / pd.Timedelta(minutes=1)
dados_vooo_completo['FAIXA_ATRASO_SAIDA'] = dados_vooo_completo['ATRASO_SAIDA'].apply(atraso_saida).astype('string')
dados_vooo_completo['FAIXA_ATRASO_CHEGADA'] = dados_vooo_completo['ATRASO_CHEGADA'].apply(atraso_chegada).astype(
    'string')

dados_vooo_completo['PONTUALIDADE_VOO_SAIDA'] = dados_vooo_completo['ATRASO_SAIDA'].apply(status_pontualidade).astype(
    'string')
dados_vooo_completo['PONTUALIDADE_VOO_CHEGA' \
                    'DA'] = dados_vooo_completo['ATRASO_CHEGADA'].apply(
    status_pontualidade).astype('string')

In [12]:
dados_vooo_completo.head()

,Unnamed: 0,?SG_ICAO_EMPRESA_AEREA,NR_VOO,CODIGO_DI,CODIGO_TIPO_LINHA,SIGLA_ICAO_AEROPORTO_ORIGEM,SIGLA_ICAO_AEROPORTO_DESTINO,PARTIDA_PREVISTA,PARTIDA_REAL,CHEGADA_PREVISTA,...,MES_INDICECHEGADA_REAL,MES_CHEGADA_REAL,TRIMESTRE_CHEGADA_REAL,TURNO_CHEGADA_REAL,ATRASO_SAIDA,ATRASO_CHEGADA,FAIXA_ATRASO_SAIDA,FAIXA_ATRASO_CHEGADA,PONTUALIDADE_VOO_SAIDA,PONTUALIDADE_VOO_CHEGADA
0,0,AAL,262,0,I,SBGL,KMIA,2022-03-01 22:30:00,2022-03-01 22:35:00,2022-03-02 07:10:00,...,3.0,Março,Primeiro trimestre,Manhã,5.0,1.0,Saída dentro da faixa Aceitavel,Chegada dentro da faixa Aceitavel,Atrasado,Atrasado
1,1,AAL,263,0,I,KMIA,SBGL,2022-03-01 00:45:00,2022-03-01 01:58:00,2022-03-01 09:05:00,...,3.0,Março,Primeiro trimestre,Manhã,73.0,122.0,Saída com atraso de mais de 1h,Chegada com atraso de mais de 2h,Atrasado,Atrasado
2,2,AAL,789,2,X,KMIA,SBGR,NaT,2022-03-01 02:54:00,NaT,...,3.0,Março,Primeiro trimestre,Manhã,NaN,NaN,Não encontrado,Não encontrado,Atrasado,Atrasado
3,3,AAL,790,2,X,SBGR,KMIA,NaT,2022-03-01 11:17:00,NaT,...,3.0,Março,Primeiro trimestre,Noite,NaN,NaN,Não encontrado,Não encontrado,Atrasado,Atrasado
4,4,AAL,904,0,I,SBGL,KMIA,2022-03-01 00:05:00,2022-03-01 00:00:00,2022-03-01 08:40:00,...,3.0,Março,Primeiro trimestre,Manhã,-5.0,-37.0,Saída antes do previsto,Chegou antes do previsto,No Horário,No Horário

In [13]:
dados_vooo_completo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 789907 entries, 0 to 789906
Data columns (total 61 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Unnamed: 0                    789907 non-null  int64
 1   ?SG_ICAO_EMPRESA_AEREA        789907 non-null  string
 2   NR_VOO                        789907 non-null  string
 3   CODIGO_DI                     789907 non-null  string
 4   CODIGO_TIPO_LINHA             789904 non-null  string
 5   SIGLA_ICAO_AEROPORTO_ORIGEM   789907 non-null  string
 6   SIGLA_ICAO_AEROPORTO_DESTINO  789907 non-null  string
 7   PARTIDA_PREVISTA              771720 non-null  datetime64[ns]
 8   PARTIDA_REAL                  753684 non-null  datetime64[ns]
 9   CHEGADA_PREVISTA              771720 non-null  datetime64[ns]
 10  CHEGADA_REAL                  753665 non-null  datetime64[ns]
 11  SITUACAO_VOO                  789907 non-null  string
 12  SIGLA_OACI_AEROPORTO_DESTINO  780971 non-null  string
 13  DESCRICAO_AEROPORTO_DESTINO   780971 non-null  string
 14  CIDADE_AEROPORTO_DESTINO      779435 non-null  string
 15  UF_AEROPORTO_DESTINO          727648 non-null  string
 16  PAIS_AEROPORTO_DESTINO        780971 non-null  string
 17  CONTINENTE_AEROPORTO_DESTINO  780971 non-null  string
 18  SIGLA_OACI_AEROPORTO_ORIGEM   781046 non-null  string
 19  DESCRICAO_AEROPORTO_ORIGEM    781046 non-null  string
 20  CIDADE_AEROPORTO_ORIGEM       779650 non-null  string
 21  UF_AEROPORTO_ORIGEM           728009 non-null  string
 22  PAIS_AEROPORTO_DORIGEM        781046 non-null  string
 23  CONTINENTE_AEROPORTO_ORIGEM   781046 non-null  string
 24  SIGLA_OACI_EMPRESAS           754369 non-null  string
 25  NM_EMPRESAS                   754369 non-null  string
 26  NACIONAL_OU_ESTRANGEIRA       752999 non-null  string
 27  DATA_PARTIDA_REAL             753684 non-null  datetime64[ns]
 28  HORA_PARTIDA_REAL             753684 non-null  object
 29  DIA_SEMANA_PARTIDA_REAL       789907 non-null  string
 30  MES_INDICEPARTIDA_REAL        753684 non-null  float64
 31  MES_PARTIDA_REAL              789907 non-null  string
 32  TRIMESTRE_PARTIDA_REAL        789907 non-null  string
 33  TURNO_PARTIDA_REAL            789907 non-null  string
 34  DATA_PARTIDA_PREVISTA         771720 non-null  datetime64[ns]
 35  HORA_PARTIDA_PREVISTA         771720 non-null  object
 36  DIA_SEMANA_PARTIDA_PREVISTA   789907 non-null  string
 37  MES_INDICEPARTIDA_PREVISTA    771720 non-null  float64
 38  MES_PARTIDA_PREVISTA          789907 non-null  string
 39  TRIMESTRE_PARTIDA_PREVISTA    789907 non-null  string
 40  TURNO_PARTIDA_PREVISTA        789907 non-null  string
 41  DATA_CHEGADA_PREVISTA         771720 non-null  datetime64[ns]
 42  HORA_CHEGADA_PREVISTA         771720 non-null  object
 43  DIA_SEMANA_CHEGADA_PREVISTA   789907 non-null  string
 44  MES_INDICECHEGADA_PREVISTA    771720 non-null  float64
 45  MES_CHEGADA_PREVISTA          789907 non-null  string
 46  TRIMESTRE_CHEGADA_PREVISTA    789907 non-null  string
 47  TURNO_CHEGADA_PREVISTA        789907 non-null  string
 48  DATA_CHEGADA_REAL             753665 non-null  datetime64[ns]
 49  HORA_CHEGADA_REAL             753665 non-null  object
 50  DIA_SEMANA_CHEGADA_REAL       789907 non-null  string
 51  MES_INDICECHEGADA_REAL        753665 non-null  float64
 52  MES_CHEGADA_REAL              789907 non-null  string
 53  TRIMESTRE_CHEGADA_REAL        789907 non-null  string
 54  TURNO_CHEGADA_REAL            789907 non-null  string
 55  ATRASO_SAIDA                  735497 non-null  float64
 56  ATRASO_CHEGADA                735478 non-null  float64
 57  FAIXA_ATRASO_SAIDA            789907 non-null  string
 58  FAIXA_ATRASO_CHEGADA          789907 non-null  string
 59  PONTUALIDADE_VOO_SAIDA        789907 non-null  string
 60  PONTUALIDADE_VOO_CHEGADA      789907 non-null  string
dtypes: datetime64[ns](8), float64(6), int64(1), object(4), string(42)
memory usage: 367.6+ MB

In [14]:
dados_vooo_completo.head()

,Unnamed: 0,?SG_ICAO_EMPRESA_AEREA,NR_VOO,CODIGO_DI,CODIGO_TIPO_LINHA,SIGLA_ICAO_AEROPORTO_ORIGEM,SIGLA_ICAO_AEROPORTO_DESTINO,PARTIDA_PREVISTA,PARTIDA_REAL,CHEGADA_PREVISTA,...,MES_INDICECHEGADA_REAL,MES_CHEGADA_REAL,TRIMESTRE_CHEGADA_REAL,TURNO_CHEGADA_REAL,ATRASO_SAIDA,ATRASO_CHEGADA,FAIXA_ATRASO_SAIDA,FAIXA_ATRASO_CHEGADA,PONTUALIDADE_VOO_SAIDA,PONTUALIDADE_VOO_CHEGADA
0,0,AAL,262,0,I,SBGL,KMIA,2022-03-01 22:30:00,2022-03-01 22:35:00,2022-03-02 07:10:00,...,3.0,Março,Primeiro trimestre,Manhã,5.0,1.0,Saída dentro da faixa Aceitavel,Chegada dentro da faixa Aceitavel,Atrasado,Atrasado
1,1,AAL,263,0,I,KMIA,SBGL,2022-03-01 00:45:00,2022-03-01 01:58:00,2022-03-01 09:05:00,...,3.0,Março,Primeiro trimestre,Manhã,73.0,122.0,Saída com atraso de mais de 1h,Chegada com atraso de mais de 2h,Atrasado,Atrasado
2,2,AAL,789,2,X,KMIA,SBGR,NaT,2022-03-01 02:54:00,NaT,...,3.0,Março,Primeiro trimestre,Manhã,NaN,NaN,Não encontrado,Não encontrado,Atrasado,Atrasado
3,3,AAL,790,2,X,SBGR,KMIA,NaT,2022-03-01 11:17:00,NaT,...,3.0,Março,Primeiro trimestre,Noite,NaN,NaN,Não encontrado,Não encontrado,Atrasado,Atrasado
4,4,AAL,904,0,I,SBGL,KMIA,2022-03-01 00:05:00,2022-03-01 00:00:00,2022-03-01 08:40:00,...,3.0,Março,Primeiro trimestre,Manhã,-5.0,-37.0,Saída antes do previsto,Chegou antes do previsto,No Horário,No Horário

# quantos vôos cancelados, atrasado, Realizados, Dentro do prazo-> Filtrar por nome de compania, aeroporto, mês ano

<h6>Total Vôos Empresas Cancelados, Realizados</h6>

In [14]:
def total_situacao_voo(filtro_mes: List = None, filtro_compania: List = None,
                       filtro_aeroporto: List = None) -> pd.DataFrame:
    """
    Retorna um dataframe com as situações do voo
    :param filtro_aeroporto: filtro por nome do aeroporto
    :param filtro_compania: recebe uma Lista com o nome da compania
    :param filtro_mes: recebe uma Lista com o nome do mês
    :return:
    """
    df_situacao_voo = dados_vooo_completo.copy()
    if filtro_mes is not None:
        df_situacao_voo = df_situacao_voo[dados_vooo_completo['MES_PARTIDA_PREVISTA'].isin(filtro_mes)]
    if filtro_compania is not None:
        df_situacao_voo = df_situacao_voo[dados_vooo_completo['NM_EMPRESAS'].isin(filtro_compania)]
    if filtro_aeroporto is not None:
        df_situacao_voo = df_situacao_voo[dados_vooo_completo['SIGLA_ICAO_AEROPORTO_ORIGEM'].isin(filtro_aeroporto)]
    total_voos = df_situacao_voo.groupby(['SITUACAO_VOO']).size().reset_index(name='TOTAL_VOOS')
    return total_voos

In [15]:
total_situacao_voo(filtro_aeroporto=['SBGL'])

     SITUACAO_VOO  TOTAL_VOOS
0       CANCELADO         814
1  NÃO INFORMADO          32
2       REALIZADO       17665

In [16]:
dados_vooo_completo.head()

,Unnamed: 0,?SG_ICAO_EMPRESA_AEREA,NR_VOO,CODIGO_DI,CODIGO_TIPO_LINHA,SIGLA_ICAO_AEROPORTO_ORIGEM,SIGLA_ICAO_AEROPORTO_DESTINO,PARTIDA_PREVISTA,PARTIDA_REAL,CHEGADA_PREVISTA,...,MES_INDICECHEGADA_REAL,MES_CHEGADA_REAL,TRIMESTRE_CHEGADA_REAL,TURNO_CHEGADA_REAL,ATRASO_SAIDA,ATRASO_CHEGADA,FAIXA_ATRASO_SAIDA,FAIXA_ATRASO_CHEGADA,PONTUALIDADE_VOO_SAIDA,PONTUALIDADE_VOO_CHEGADA
0,0,AAL,262,0,I,SBGL,KMIA,2022-03-01 22:30:00,2022-03-01 22:35:00,2022-03-02 07:10:00,...,3.0,Março,Primeiro trimestre,Manhã,5.0,1.0,Saída dentro da faixa Aceitavel,Chegada dentro da faixa Aceitavel,Atrasado,Atrasado
1,1,AAL,263,0,I,KMIA,SBGL,2022-03-01 00:45:00,2022-03-01 01:58:00,2022-03-01 09:05:00,...,3.0,Março,Primeiro trimestre,Manhã,73.0,122.0,Saída com atraso de mais de 1h,Chegada com atraso de mais de 2h,Atrasado,Atrasado
2,2,AAL,789,2,X,KMIA,SBGR,NaT,2022-03-01 02:54:00,NaT,...,3.0,Março,Primeiro trimestre,Manhã,NaN,NaN,Não encontrado,Não encontrado,Atrasado,Atrasado
3,3,AAL,790,2,X,SBGR,KMIA,NaT,2022-03-01 11:17:00,NaT,...,3.0,Março,Primeiro trimestre,Noite,NaN,NaN,Não encontrado,Não encontrado,Atrasado,Atrasado
4,4,AAL,904,0,I,SBGL,KMIA,2022-03-01 00:05:00,2022-03-01 00:00:00,2022-03-01 08:40:00,...,3.0,Março,Primeiro trimestre,Manhã,-5.0,-37.0,Saída antes do previsto,Chegou antes do previsto,No Horário,No Horário

# Total de vôos atrasados

In [49]:
def perfil_voos_saida( filtro_mes: List = None,
                                filtro_compania: List = None, filtro_partida: str = None, colunas_agrupamento: List = None):
    """
    Método personalisado para trazer o dataframe de acordo com a escolha
    :param colunas_agrupamento: Uma lista com os campos do dataframe
    :param filtro_partida: filtro para dizer se saíu adiantado ou atrasado
    :param filtro_mes: Mês de Análise
    :param filtro_compania: Compania Áerea
    :return: Um dataframe filtrado
    """

    df_voo_adi_atra = dados_vooo_completo.copy()
    df_voo_adi_atra = df_voo_adi_atra.sort_values(by='MES_INDICEPARTIDA_REAL')
    if filtro_partida is not None:
        df_voo_adi_atra = df_voo_adi_atra[(df_voo_adi_atra['PONTUALIDADE_VOO_SAIDA'].isin(filtro_partida))]
    if filtro_compania is not None:
        df_voo_adi_atra = df_voo_adi_atra[(df_voo_adi_atra['NM_EMPRESAS'].isin(filtro_compania))]
    if filtro_mes is not None:
        df_voo_adi_atra = df_voo_adi_atra[(df_voo_adi_atra['MES_PARTIDA_REAL'].isin(filtro_mes))]
    df_total_voos_pontualidade = df_voo_adi_atra.groupby(colunas_agrupamento).size().reset_index(name='TOTAL')
    return df_total_voos_pontualidade

In [54]:
def perfil_voos_chegada( filtro_mes: List = None,
                                filtro_compania: List = None, filtro_partida: str = None, colunas_agrupamento: List = None):
    """
    Método personalisado para trazer o dataframe de acordo com a escolha
    :param colunas_agrupamento: Uma lista com os campos do dataframe
    :param filtro_partida: filtro para dizer se saíu adiantado ou atrasado
    :param filtro_mes: Mês de Análise
    :param filtro_compania: Compania Áerea
    :return: Um dataframe filtrado
    """

    df_voo_adi_atra = dados_vooo_completo.copy()
    df_voo_adi_atra = df_voo_adi_atra.sort_values(by='MES_INDICEPARTIDA_REAL')
    if filtro_partida is not None:
        df_voo_adi_atra = df_voo_adi_atra[(df_voo_adi_atra['PONTUALIDADE_VOO_CHEGADA'].isin(filtro_partida))]
    if filtro_compania is not None:
        df_voo_adi_atra = df_voo_adi_atra[(df_voo_adi_atra['NM_EMPRESAS'].isin(filtro_compania))]
    if filtro_mes is not None:
        df_voo_adi_atra = df_voo_adi_atra[(df_voo_adi_atra['MES_CHEGADA_REAL'].isin(filtro_mes))]
    df_total_voos_pontualidade = df_voo_adi_atra.groupby(colunas_agrupamento).size().reset_index(name='TOTAL')
    return df_total_voos_pontualidade

In [66]:
perfil_voos_saida( colunas_agrupamento=['MES_INDICEPARTIDA_REAL', 'MES_PARTIDA_REAL', 'PONTUALIDADE_VOO_SAIDA'], filtro_compania=['AZUL'])

    MES_INDICEPARTIDA_REAL MES_PARTIDA_REAL PONTUALIDADE_VOO_SAIDA  TOTAL
0                      1.0          Janeiro               Atrasado   8437
1                      1.0          Janeiro             No Horário  16098
2                      2.0        Fevereiro               Atrasado   4647
3                      2.0        Fevereiro             No Horário  17917
4                      3.0            Março               Atrasado   6114
5                      3.0            Março             No Horário  21896
6                      4.0            Abril               Atrasado   6945
7                      4.0            Abril             No Horário  21058
8                      5.0             Maio               Atrasado   8519
9                      5.0             Maio             No Horário  21866
10                     6.0            Junho               Atrasado   7553
11                     6.0            Junho             No Horário  20722
12                     7.0            Julho               Atrasado   8249
13                     7.0            Julho             No Horário  21433
14                     8.0           Agosto               Atrasado   7924
15                     8.0           Agosto             No Horário  20293
16                     9.0         Setembro               Atrasado   7778
17                     9.0         Setembro             No Horário  19309
18                    10.0          Outubro             No Horário   3123
19                    11.0         Novembro             No Horário   3210
20                    12.0         Dezembro             No Horário   4257

In [ ]:
perfil_voos_saida(colunas_agrupamento=['MES_PARTIDA_REAL'], filtro_compania=['ABAETE'])['TOTAL'].sum()

In [89]:
def percentual_voo_atrasado_saida(colunas_agrupamento: List, filtro_compania: List):
    df_filtrado = perfil_voos_saida(colunas_agrupamento=colunas_agrupamento, filtro_compania=filtro_compania, filtro_partida=['Atrasado'])
    total_registro = df_filtrado['TOTAL'].sum()
    df_filtrado['PERCENTUAL_VOO_ATRASADO_SAIDA'] = df_filtrado['TOTAL'] * 100 / total_registro
    df_filtrado['REGISTRO_DESLOCADO'] = df_filtrado['PERCENTUAL_VOO_ATRASADO_SAIDA'].shift(1, fill_value=0)
    df_filtrado['VARIACAO_PERCENTUAL_VOO_ATRASADO_SAIDA'] = (df_filtrado['PERCENTUAL_VOO_ATRASADO_SAIDA'] - df_filtrado['REGISTRO_DESLOCADO']) / df_filtrado['REGISTRO_DESLOCADO'] * 100
    return df_filtrado

In [96]:
def percentual_voo_pontual_saida(colunas_agrupamento: List, filtro_compania: List):
    df_filtrado = perfil_voos_saida(colunas_agrupamento=colunas_agrupamento, filtro_compania=filtro_compania, filtro_partida=['No Horário'])
    total_registro = df_filtrado['TOTAL'].sum()
    df_filtrado['PERCENTUAL_VOO_PONTUAL_SAIDA'] = df_filtrado['TOTAL'] * 100 / total_registro
    df_filtrado['REGISTRO_DESLOCADO'] = df_filtrado['PERCENTUAL_VOO_PONTUAL_SAIDA'].shift(1, fill_value=0)
    df_filtrado['VARIACAO_PERCENTUAL_VOO_PONTUAL_SAIDA'] = (df_filtrado['PERCENTUAL_VOO_PONTUAL_SAIDA'] - df_filtrado['REGISTRO_DESLOCADO']) / df_filtrado['REGISTRO_DESLOCADO'] * 100
    return df_filtrado

In [99]:
def percentual_voo_pontual_chegada(colunas_agrupamento: List, filtro_compania: List):
    df_filtrado = perfil_voos_saida(colunas_agrupamento=colunas_agrupamento, filtro_compania=filtro_compania, filtro_partida=['No Horário'])
    total_registro = df_filtrado['TOTAL'].sum()
    df_filtrado['PERCENTUAL_VOO_PONTUAL_CHEGADA'] = df_filtrado['TOTAL'] * 100 / total_registro
    df_filtrado['REGISTRO_DESLOCADO'] = df_filtrado['PERCENTUAL_VOO_PONTUAL_CHEGADA'].shift(1, fill_value=0)
    df_filtrado['VARIACAO_PERCENTUAL_VOO_PONTUAL_SAIDA'] = (df_filtrado['PERCENTUAL_VOO_PONTUAL_CHEGADA'] - df_filtrado['REGISTRO_DESLOCADO']) / df_filtrado['REGISTRO_DESLOCADO'] * 100
    return df_filtrado

In [92]:
def percentual_voo_atrasado_chegada(colunas_agrupamento: List, filtro_compania: List):
    df_filtrado = perfil_voos_chegada(colunas_agrupamento=colunas_agrupamento, filtro_compania=filtro_compania, filtro_partida=['Atrasado'])
    total_registro = df_filtrado['TOTAL'].sum()
    df_filtrado['PERCENTUAL_VOO_CHEGADA'] = df_filtrado['TOTAL'] * 100 / total_registro
    df_filtrado['REGISTRO_DESLOCADO'] = df_filtrado['PERCENTUAL_VOO_CHEGADA'].shift(1, fill_value=0)
    df_filtrado['VARIACAO_PERCENTUAL_VOO_ATRASADO_CHEGADA'] = (df_filtrado['PERCENTUAL_VOO_CHEGADA'] - df_filtrado['REGISTRO_DESLOCADO']) / df_filtrado['REGISTRO_DESLOCADO'] * 100
    return df_filtrado

In [108]:
percentual_voo_atrasado_saida(colunas_agrupamento=['MES_INDICEPARTIDA_REAL', 'MES_PARTIDA_REAL'], filtro_compania=['AZUL'])

,MES_INDICEPARTIDA_REAL,MES_PARTIDA_REAL,TOTAL,PERCENTUAL_VOO_ATRASADO_SAIDA,REGISTRO_DESLOCADO,VARIACAO_PERCENTUAL_VOO_ATRASADO_SAIDA
0,1.0,Janeiro,8437,12.751262,0.000000,inf
1,2.0,Fevereiro,4647,7.023245,12.751262,-44.921181
2,3.0,Março,6114,9.240395,7.023245,31.568754
3,4.0,Abril,6945,10.496327,9.240395,13.591757
4,5.0,Maio,8519,12.875193,10.496327,22.663787
5,6.0,Junho,7553,11.415228,12.875193,-11.339359
6,7.0,Julho,8249,12.467128,11.415228,9.214882
7,8.0,Agosto,7924,11.975939,12.467128,-3.939871
8,9.0,Setembro,7778,11.755282,11.975939,-1.842504

In [107]:
percentual_voo_atrasado_chegada(colunas_agrupamento=['MES_INDICEPARTIDA_REAL', 'MES_PARTIDA_REAL'], filtro_compania=['AZUL'])

,MES_INDICEPARTIDA_REAL,MES_PARTIDA_REAL,TOTAL,PERCENTUAL_VOO_CHEGADA,REGISTRO_DESLOCADO,VARIACAO_PERCENTUAL_VOO_ATRASADO_CHEGADA
0,1.0,Janeiro,9473,10.898653,0.000000,inf
1,2.0,Fevereiro,5839,6.717749,10.898653,-38.361659
2,3.0,Março,8087,9.304065,6.717749,38.499743
3,4.0,Abril,8874,10.209505,9.304065,9.731668
4,5.0,Maio,10931,12.576077,10.209505,23.180077
5,6.0,Junho,9725,11.188578,12.576077,-11.032842
6,7.0,Julho,10048,11.560188,11.188578,3.321337
7,8.0,Agosto,9736,11.201233,11.560188,-3.105096
8,9.0,Setembro,9741,11.206986,11.201233,0.051356
9,10.0,Outubro,945,1.087219,11.206986,-90.298737
10,11.0,Novembro,1163,1.338027,1.087219,23.068783
11,12.0,Dezembro,2357,2.711720,1.338027,102.665520

In [98]:
percentual_voo_pontual_saida(colunas_agrupamento=['MES_INDICEPARTIDA_REAL', 'MES_CHEGADA_REAL'], filtro_compania=['AZUL'])

,MES_INDICEPARTIDA_REAL,MES_CHEGADA_REAL,TOTAL,PERCENTUAL_VOO_PONTUAL_SAIDA,REGISTRO_DESLOCADO,VARIACAO_PERCENTUAL_VOO_PONTUAL_SAIDA
0,1.0,Fevereiro,304,0.159011,0.000000,inf
1,1.0,Janeiro,15794,8.261238,0.159011,5.095395e+03
2,2.0,Fevereiro,17617,9.214780,8.261238,1.154236e+01
3,2.0,Março,300,0.156919,9.214780,-9.829710e+01
4,3.0,Abril,366,0.191441,0.156919,2.200000e+01
5,3.0,Março,21530,11.261520,0.191441,5.782514e+03
6,4.0,Abril,20665,10.809072,11.261520,-4.017650e+00
7,4.0,Maio,393,0.205563,10.809072,-9.809823e+01
8,5.0,Junho,356,0.186210,0.205563,-9.414758e+00
9,5.0,Maio,21510,11.251059,0.186210,5.942135e+03
10,6.0,Janeiro,65,0.033999,11.251059,-9.969781e+01
11,6.0,Julho,354,0.185164,0.033999,4.446154e+02
12,6.0,Junho,20303,10.619724,0.185164,5.635311e+03
13,7.0,Agosto,268,0.140181,10.619724,-9.868000e+01
14,7.0,Janeiro,56,0.029291,0.140181,-7.910448e+01
15,7.0,Julho,21109,11.041311,0.029291,3.759464e+04
16,8.0,Agosto,20019,10.471174,11.041311,-5.163674e+00
17,8.0,Setembro,274,0.143319,10.471174,-9.863130e+01
18,9.0,Outubro,289,0.151165,0.143319,5.474453e+00
19,9.0,Setembro,19020,9.948635,0.151165,6.481315e+03
20,10.0,Novembro,201,0.105135,9.948635,-9.894322e+01
21,10.0,Outubro,2922,1.528387,0.105135,1.353731e+03
22,11.0,Dezembro,233,0.121873,1.528387,-9.202601e+01
23,11.0,Novembro,2977,1.557155,0.121873,1.177682e+03
24,12.0,Abril,137,0.071659,1.557155,-9.539805e+01
25,12.0,Agosto,81,0.042368,0.071659,-4.087591e+01
26,12.0,Dezembro,2779,1.453589,0.042368,3.330864e+03
27,12.0,Fevereiro,140,0.073229,1.453589,-9.496222e+01
28,12.0,Janeiro,354,0.185164,0.073229,1.528571e+02
29,12.0,Julho,120,0.062767,0.185164,-6.610169e+01
30,12.0,Junho,130,0.067998,0.062767,8.333333e+00
31,12.0,Maio,132,0.069044,0.067998,1.538462e+00
32,12.0,Março,149,0.077936,0.069044,1.287879e+01
33,12.0,Novembro,63,0.032953,0.077936,-5.771812e+01
34,12.0,Outubro,74,0.038707,0.032953,1.746032e+01
35,12.0,Setembro,98,0.051260,0.038707,3.243243e+01

In [106]:
percentual_voo_pontual_chegada(colunas_agrupamento=['MES_INDICECHEGADA_REAL', 'MES_CHEGADA_REAL', 'DESCRICAO_AEROPORTO_DESTINO'], filtro_compania=['AZUL'])

,MES_INDICECHEGADA_REAL,MES_CHEGADA_REAL,DESCRICAO_AEROPORTO_DESTINO,TOTAL,PERCENTUAL_VOO_PONTUAL_CHEGADA,REGISTRO_DESLOCADO,VARIACAO_PERCENTUAL_VOO_PONTUAL_SAIDA
0,1.0,Janeiro,ADALBERTO MENDES DA SILVA,47,0.024849,0.000000,inf
1,1.0,Janeiro,AEROPORTO INTERNACIONAL DO RIO DE JANEIRO/GALE...,70,0.037008,0.024849,48.936170
2,1.0,Janeiro,AEROPORTO REGIONAL PLÃNIO ALARCON,13,0.006873,0.037008,-81.428571
3,1.0,Janeiro,AFONSO PENA,551,0.291309,0.006873,4138.461538
4,1.0,Janeiro,ALTAMIRA,17,0.008988,0.291309,-96.914701
...,...,...,...,...,...,...,...
1152,12.0,Dezembro,TENENTE-CORONEL AVIADOR CÃSAR BOMBONATO,32,0.016918,0.001057,1500.000000
1153,12.0,Dezembro,USIMINAS,12,0.006344,0.016918,-62.500000
1154,12.0,Dezembro,VAL DE CANS,75,0.039652,0.006344,525.000000
1155,12.0,Dezembro,VIRACOPOS,643,0.339949,0.039652,757.333333
1156,12.0,Dezembro,ZUMBI DOS PALMARES,31,0.016389,0.339949,-95.178849

<p>Pefil de vôos -> Manhã, tarde, noite, madrugada, Deixar fitro por compania, aeroporto</p>

In [139]:
def total_voos_turno_partida(lista_compania: List = None, lista_aeroporto: List = None, colunas_agrupamento: List = None) -> pd.DataFrame:
    df_total_voos = dados_vooo_completo.copy()
    coluna_padrao = ['TURNO_PARTIDA_REAL'] + colunas_agrupamento if colunas_agrupamento is not None else ['TURNO_PARTIDA_REAL']

    if lista_compania is not None:

        df_total_voos = df_total_voos[(df_total_voos['NM_EMPRESAS'].isin(lista_compania))]
    if lista_aeroporto is not None:
        df_total_voos = df_total_voos[(df_total_voos['DESCRICAO_AEROPORTO_ORIGEM'].isin(lista_aeroporto))]

    df_total_voos_turno = df_total_voos.groupby(coluna_padrao).size().reset_index(name='TOTAL_VOOS_POR_TURNO')
    return df_total_voos_turno

In [141]:
total_voos_turno_partida(colunas_agrupamento=['NM_EMPRESAS', 'MES_PARTIDA_REAL'])

,TURNO_PARTIDA_REAL,NM_EMPRESAS,MES_PARTIDA_REAL,TOTAL_VOOS_POR_TURNO
0,Madrugada,ABSA,Abril,68
1,Madrugada,ABSA,Agosto,74
2,Madrugada,ABSA,Dezembro,2
3,Madrugada,ABSA,Fevereiro,71
4,Madrugada,ABSA,Janeiro,46
...,...,...,...,...
1546,Noite,UNITED PARCEL SERVICE,Março,67
1547,Noite,UNITED PARCEL SERVICE,Novembro,6
1548,Noite,UNITED PARCEL SERVICE,Não Encontrado,37
1549,Noite,UNITED PARCEL SERVICE,Outubro,6
1550,Noite,UNITED PARCEL SERVICE,Setembro,55