In [4]:
import pandas as pd
import os
import zipfile

In [5]:
os.getcwd()
os.chdir('F:\projetos\historico_voos')
os.getcwd()

'F:\\projetos\\historico_voos'

In [6]:
caminho = os.getcwd() + '\\data\\processed\\df_dados_voo_completo.zip'

In [7]:
with zipfile.ZipFile(caminho) as z:
    with z.open('df_dados_voo_completo.csv') as df:
        dados_vooo_completo = pd.read_csv(df, sep=';', encoding='ISO-8859-1')

F:\projetos\historico_voos\venv\lib\site-packages\IPython\core\interactiveshell.py:3258: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
dados_vooo_completo.head()

,Unnamed: 0,?SG_ICAO_EMPRESA_AEREA,NR_VOO,CODIGO_DI,CODIGO_TIPO_LINHA,SIGLA_ICAO_AEROPORTO_ORIGEM,SIGLA_ICAO_AEROPORTO_DESTINO,PARTIDA_PREVISTA,PARTIDA_REAL,CHEGADA_PREVISTA,...,CONTINENTE_AEROPORTO_DESTINO,SIGLA_OACI_AEROPORTO_ORIGEM,DESCRICAO_AEROPORTO_ORIGEM,CIDADE_AEROPORTO_ORIGEM,UF_AEROPORTO_ORIGEM,PAIS_AEROPORTO_DORIGEM,CONTINENTE_AEROPORTO_ORIGEM,SIGLA_OACI_EMPRESAS,NM_EMPRESAS,NACIONAL_OU_ESTRANGEIRA
0,0,AAL,262,0,I,SBGL,KMIA,2022-03-01 22:30:00,2022-03-01 22:35:00,2022-03-02 07:10:00,...,AMERICA DO NORTE,SBGL,AEROPORTO INTERNACIONAL DO RIO DE JANEIRO/GALE...,RIO DE JANEIRO,RJ,BRASIL,AMERICA DO SUL,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA
1,1,AAL,263,0,I,KMIA,SBGL,2022-03-01 00:45:00,2022-03-01 01:58:00,2022-03-01 09:05:00,...,AMERICA DO SUL,KMIA,MIAMI INTERNATIONAL AIRPORT,MIAMI,NaN,ESTADOS UNIDOS DA AMERICA,AMERICA DO NORTE,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA
2,2,AAL,789,2,X,KMIA,SBGR,NaN,2022-03-01 02:54:00,NaN,...,AMERICA DO SUL,KMIA,MIAMI INTERNATIONAL AIRPORT,MIAMI,NaN,ESTADOS UNIDOS DA AMERICA,AMERICA DO NORTE,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA
3,3,AAL,790,2,X,SBGR,KMIA,NaN,2022-03-01 11:17:00,NaN,...,AMERICA DO NORTE,SBGR,GUARULHOS - GOVERNADOR ANDRÃ FRANCO MONTORO,GUARULHOS,SP,BRASIL,AMERICA DO SUL,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA
4,4,AAL,904,0,I,SBGL,KMIA,2022-03-01 00:05:00,2022-03-01 00:00:00,2022-03-01 08:40:00,...,AMERICA DO NORTE,SBGL,AEROPORTO INTERNACIONAL DO RIO DE JANEIRO/GALE...,RIO DE JANEIRO,RJ,BRASIL,AMERICA DO SUL,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA

In [9]:
dados_vooo_completo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 789907 entries, 0 to 789906
Data columns (total 27 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Unnamed: 0                    789907 non-null  int64
 1   ?SG_ICAO_EMPRESA_AEREA        789907 non-null  object
 2   NR_VOO                        789907 non-null  object
 3   CODIGO_DI                     789907 non-null  object
 4   CODIGO_TIPO_LINHA             789904 non-null  object
 5   SIGLA_ICAO_AEROPORTO_ORIGEM   789907 non-null  object
 6   SIGLA_ICAO_AEROPORTO_DESTINO  789907 non-null  object
 7   PARTIDA_PREVISTA              771720 non-null  object
 8   PARTIDA_REAL                  753684 non-null  object
 9   CHEGADA_PREVISTA              771720 non-null  object
 10  CHEGADA_REAL                  753665 non-null  object
 11  SITUACAO_VOO                  789907 non-null  object
 12  SIGLA_OACI_AEROPORTO_DESTINO  780971 non-null  object
 13  DESCRICAO_AEROPORTO_DESTINO   780971 non-null  object
 14  CIDADE_AEROPORTO_DESTINO      779435 non-null  object
 15  UF_AEROPORTO_DESTINO          727648 non-null  object
 16  PAIS_AEROPORTO_DESTINO        780971 non-null  object
 17  CONTINENTE_AEROPORTO_DESTINO  780971 non-null  object
 18  SIGLA_OACI_AEROPORTO_ORIGEM   781046 non-null  object
 19  DESCRICAO_AEROPORTO_ORIGEM    781046 non-null  object
 20  CIDADE_AEROPORTO_ORIGEM       779650 non-null  object
 21  UF_AEROPORTO_ORIGEM           728009 non-null  object
 22  PAIS_AEROPORTO_DORIGEM        781046 non-null  object
 23  CONTINENTE_AEROPORTO_ORIGEM   781046 non-null  object
 24  SIGLA_OACI_EMPRESAS           754369 non-null  object
 25  NM_EMPRESAS                   754369 non-null  object
 26  NACIONAL_OU_ESTRANGEIRA       752999 non-null  object
dtypes: int64(1), object(26)
memory usage: 162.7+ MB

In [10]:
dados_vooo_completo['?SG_ICAO_EMPRESA_AEREA'] = dados_vooo_completo['?SG_ICAO_EMPRESA_AEREA'].astype('string')
dados_vooo_completo['NR_VOO'] = dados_vooo_completo['NR_VOO'].astype('string')
dados_vooo_completo['CODIGO_DI'] = dados_vooo_completo['CODIGO_DI'].astype('string')
dados_vooo_completo['CODIGO_TIPO_LINHA'] = dados_vooo_completo['CODIGO_TIPO_LINHA'].astype('string')
dados_vooo_completo['SIGLA_ICAO_AEROPORTO_ORIGEM'] = dados_vooo_completo['SIGLA_ICAO_AEROPORTO_ORIGEM'].astype('string')
dados_vooo_completo['SIGLA_ICAO_AEROPORTO_DESTINO'] = dados_vooo_completo['SIGLA_ICAO_AEROPORTO_DESTINO'].astype(
    'string')
dados_vooo_completo['PARTIDA_PREVISTA'] = pd.to_datetime(dados_vooo_completo['PARTIDA_PREVISTA'],
                                                         format='%Y-%m-%d %H:%M', errors='coerce')
dados_vooo_completo['PARTIDA_REAL'] = pd.to_datetime(dados_vooo_completo['PARTIDA_REAL'], format='%Y-%m-%d %H:%M',
                                                     errors='coerce')
dados_vooo_completo['CHEGADA_PREVISTA'] = pd.to_datetime(dados_vooo_completo['CHEGADA_PREVISTA'],
                                                         format='%Y-%m-%d %H:%M', errors='coerce')
dados_vooo_completo['CHEGADA_REAL'] = pd.to_datetime(dados_vooo_completo['CHEGADA_REAL'], format='%Y-%m-%d %H:%M',
                                                     errors='coerce')
dados_vooo_completo['SITUACAO_VOO'] = dados_vooo_completo['SITUACAO_VOO'].astype('string')
dados_vooo_completo['DESCRICAO_AEROPORTO_DESTINO'] = dados_vooo_completo['DESCRICAO_AEROPORTO_DESTINO'].astype('string')
dados_vooo_completo['CIDADE_AEROPORTO_DESTINO'] = dados_vooo_completo['CIDADE_AEROPORTO_DESTINO'].astype('string')
dados_vooo_completo['UF_AEROPORTO_DESTINO'] = dados_vooo_completo['UF_AEROPORTO_DESTINO'].astype('string')
dados_vooo_completo['UF_AEROPORTO_ORIGEM'] = dados_vooo_completo['UF_AEROPORTO_ORIGEM'].astype('string')
dados_vooo_completo['PAIS_AEROPORTO_DESTINO'] = dados_vooo_completo['PAIS_AEROPORTO_DESTINO'].astype('string')
dados_vooo_completo['CONTINENTE_AEROPORTO_DESTINO'] = dados_vooo_completo['CONTINENTE_AEROPORTO_DESTINO'].astype(
    'string')
dados_vooo_completo['DESCRICAO_AEROPORTO_ORIGEM'] = dados_vooo_completo['DESCRICAO_AEROPORTO_ORIGEM'].astype('string')
dados_vooo_completo['CIDADE_AEROPORTO_ORIGEM'] = dados_vooo_completo['CIDADE_AEROPORTO_ORIGEM'].astype('string')
dados_vooo_completo['CIDADE_AEROPORTO_DESTINO'] = dados_vooo_completo['CIDADE_AEROPORTO_DESTINO'].astype('string')
dados_vooo_completo['PAIS_AEROPORTO_DORIGEM'] = dados_vooo_completo['PAIS_AEROPORTO_DORIGEM'].astype('string')
dados_vooo_completo['PAIS_AEROPORTO_DORIGEM'] = dados_vooo_completo['PAIS_AEROPORTO_DORIGEM'].astype('string')
dados_vooo_completo['CONTINENTE_AEROPORTO_ORIGEM'] = dados_vooo_completo['CONTINENTE_AEROPORTO_ORIGEM'].astype('string')
dados_vooo_completo['NM_EMPRESAS'] = dados_vooo_completo['NM_EMPRESAS'].astype('string')
dados_vooo_completo['NACIONAL_OU_ESTRANGEIRA'] = dados_vooo_completo['NACIONAL_OU_ESTRANGEIRA'].astype('string')
dados_vooo_completo['SIGLA_OACI_AEROPORTO_DESTINO'] = dados_vooo_completo['SIGLA_OACI_AEROPORTO_DESTINO'].astype(
    'string')
dados_vooo_completo['SIGLA_OACI_AEROPORTO_ORIGEM'] = dados_vooo_completo['SIGLA_OACI_AEROPORTO_ORIGEM'].astype('string')
dados_vooo_completo['SIGLA_OACI_EMPRESAS'] = dados_vooo_completo['SIGLA_OACI_EMPRESAS'].astype('string')

In [11]:
dados_vooo_completo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 789907 entries, 0 to 789906
Data columns (total 27 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Unnamed: 0                    789907 non-null  int64
 1   ?SG_ICAO_EMPRESA_AEREA        789907 non-null  string
 2   NR_VOO                        789907 non-null  string
 3   CODIGO_DI                     789907 non-null  string
 4   CODIGO_TIPO_LINHA             789904 non-null  string
 5   SIGLA_ICAO_AEROPORTO_ORIGEM   789907 non-null  string
 6   SIGLA_ICAO_AEROPORTO_DESTINO  789907 non-null  string
 7   PARTIDA_PREVISTA              771720 non-null  datetime64[ns]
 8   PARTIDA_REAL                  753684 non-null  datetime64[ns]
 9   CHEGADA_PREVISTA              771720 non-null  datetime64[ns]
 10  CHEGADA_REAL                  753665 non-null  datetime64[ns]
 11  SITUACAO_VOO                  789907 non-null  string
 12  SIGLA_OACI_AEROPORTO_DESTINO  780971 non-null  string
 13  DESCRICAO_AEROPORTO_DESTINO   780971 non-null  string
 14  CIDADE_AEROPORTO_DESTINO      779435 non-null  string
 15  UF_AEROPORTO_DESTINO          727648 non-null  string
 16  PAIS_AEROPORTO_DESTINO        780971 non-null  string
 17  CONTINENTE_AEROPORTO_DESTINO  780971 non-null  string
 18  SIGLA_OACI_AEROPORTO_ORIGEM   781046 non-null  string
 19  DESCRICAO_AEROPORTO_ORIGEM    781046 non-null  string
 20  CIDADE_AEROPORTO_ORIGEM       779650 non-null  string
 21  UF_AEROPORTO_ORIGEM           728009 non-null  string
 22  PAIS_AEROPORTO_DORIGEM        781046 non-null  string
 23  CONTINENTE_AEROPORTO_ORIGEM   781046 non-null  string
 24  SIGLA_OACI_EMPRESAS           754369 non-null  string
 25  NM_EMPRESAS                   754369 non-null  string
 26  NACIONAL_OU_ESTRANGEIRA       752999 non-null  string
dtypes: datetime64[ns](4), int64(1), string(22)
memory usage: 162.7 MB

# Criar colunas de tempo -> Trimestre, mês, turno (Manhã, tarde, noite, madrugada)

In [12]:
colunas_tempo = ['PARTIDA_REAL', 'PARTIDA_PREVISTA', 'CHEGADA_PREVISTA', 'CHEGADA_REAL']
traducao_dias = {'Monday': 'Segunda-feira',
                 'Tuesday': 'Terça-feira',
                 'Wednesday': 'Quarta-feira',
                 'Thursday': 'Quinta-feira',
                 'Friday': 'Sexta-feira',
                 'Saturday': 'Sábado',
                 'Sunday': 'Domingo'}
mes = {
    1.0: 'Janeiro',
    2.0: 'Fevereiro',
    3.0: 'Março',
    4.0: 'Abril',
    5.0: 'Maio',
    6.0: 'Junho',
    7.0: 'Julho',
    8.0: 'Agosto',
    9.0: 'Setembro',
    10.0: 'Outubro',
    11.0: 'Novembro',
    12.0: 'Dezembro'
}

trimeste = {
    1.0: 'Primeiro trimestre',
    2.0: 'Primeiro trimestre',
    3.0: 'Primeiro trimestre',
    4.0: 'Segundo trimestre',
    5.0: 'Segundo trimestre',
    6.0: 'Segundo trimestre',
    7.0: 'Terceiro trimestre',
    8.0: 'Terceiro trimestre',
    9.0: 'Terceiro trimestre',
    10.0: 'Quarto trimestre',
    11.0: 'Quarto trimestre',
    12.0: 'Quarto trimestre'
}


def turno(horario):
    if 0.0 < horario < 6.0:
        return 'Madrugada'
    elif 6.0 <= horario < 12.0:
        return 'Manhã'
    elif 12.0 <= horario < 6.0:
        return 'Tarde'
    else:
        return 'Noite'


def atraso_chegada(atraso: float):
    if atraso <= 0.0:
        return 'Chegou antes do previsto'
    elif 0.0 < atraso <= 60.0:
        return 'Chegada dentro da faixa Aceitavel'
    elif 60.0 < atraso <= 120.0:
        return 'Chegada com atraso de mais de 1h'
    elif 120.0 < atraso <= 240.0:
        return 'Chegada com atraso de mais de 2h'
    elif atraso > 240.0:
        return 'Chegada com atraso de mais de 4h'
    else:
        return 'Não encontrado'


def atraso_saida(atraso: float):
    if atraso <= 0.0:
        return 'Saída antes do previsto'
    elif 0.0 < atraso <= 60.0:
        return 'Saída dentro da faixa Aceitavel'
    elif 60.0 < atraso <= 120.0:
        return 'Saída com atraso de mais de 1h'
    elif 120.0 < atraso <= 240.0:
        return 'Saída com atraso de mais de 2h'
    elif atraso > 240.0:
        return 'Saída com atraso de mais de 4h'
    else:
        return 'Não encontrado'

In [13]:
for coluna_tempo in colunas_tempo:
    dados_vooo_completo['DATA_' + coluna_tempo] = pd.to_datetime(dados_vooo_completo[coluna_tempo].dt.date)
    dados_vooo_completo['HORA_' + coluna_tempo] = dados_vooo_completo[coluna_tempo].dt.time
    dados_vooo_completo['DIA_SEMANA_' + coluna_tempo] = dados_vooo_completo[coluna_tempo].dt.day_name().apply(
        lambda x: traducao_dias.get(x, 'Não Encontrado')).astype('string')
    dados_vooo_completo['MES_INDICE' + coluna_tempo] = dados_vooo_completo[coluna_tempo].dt.month
    dados_vooo_completo['MES_' + coluna_tempo] = dados_vooo_completo[coluna_tempo].dt.month.apply(
        lambda x: mes.get(x, 'Não Encontrado')).astype('string')
    dados_vooo_completo['TRIMESTRE_' + coluna_tempo] = dados_vooo_completo[coluna_tempo].dt.month.apply(
        lambda x: trimeste.get(x, 'Não Encontrado')).astype('string')
    dados_vooo_completo['TURNO_' + coluna_tempo] = dados_vooo_completo[coluna_tempo].dt.hour.apply(turno).astype(
        'string')

In [14]:
dados_vooo_completo['ATRASO_SAIDA'] = (dados_vooo_completo['PARTIDA_REAL'] - dados_vooo_completo[
    'PARTIDA_PREVISTA']) / pd.Timedelta(minutes=1)
dados_vooo_completo['ATRASO_CHEGADA'] = (dados_vooo_completo['CHEGADA_REAL'] - dados_vooo_completo[
    'CHEGADA_PREVISTA']) / pd.Timedelta(minutes=1)
dados_vooo_completo['FAIXA_ATRASO_SAIDA'] = dados_vooo_completo['ATRASO_SAIDA'].apply(atraso_saida).astype('string')
dados_vooo_completo['FAIXA_ATRASO_CHEGADA'] = dados_vooo_completo['ATRASO_CHEGADA'].apply(atraso_chegada).astype(
    'string')

In [15]:
dados_vooo_completo['ATRASO_SAIDA'].isna().sum()

54410

In [16]:
dados_vooo_completo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 789907 entries, 0 to 789906
Data columns (total 59 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Unnamed: 0                    789907 non-null  int64
 1   ?SG_ICAO_EMPRESA_AEREA        789907 non-null  string
 2   NR_VOO                        789907 non-null  string
 3   CODIGO_DI                     789907 non-null  string
 4   CODIGO_TIPO_LINHA             789904 non-null  string
 5   SIGLA_ICAO_AEROPORTO_ORIGEM   789907 non-null  string
 6   SIGLA_ICAO_AEROPORTO_DESTINO  789907 non-null  string
 7   PARTIDA_PREVISTA              771720 non-null  datetime64[ns]
 8   PARTIDA_REAL                  753684 non-null  datetime64[ns]
 9   CHEGADA_PREVISTA              771720 non-null  datetime64[ns]
 10  CHEGADA_REAL                  753665 non-null  datetime64[ns]
 11  SITUACAO_VOO                  789907 non-null  string
 12  SIGLA_OACI_AEROPORTO_DESTINO  780971 non-null  string
 13  DESCRICAO_AEROPORTO_DESTINO   780971 non-null  string
 14  CIDADE_AEROPORTO_DESTINO      779435 non-null  string
 15  UF_AEROPORTO_DESTINO          727648 non-null  string
 16  PAIS_AEROPORTO_DESTINO        780971 non-null  string
 17  CONTINENTE_AEROPORTO_DESTINO  780971 non-null  string
 18  SIGLA_OACI_AEROPORTO_ORIGEM   781046 non-null  string
 19  DESCRICAO_AEROPORTO_ORIGEM    781046 non-null  string
 20  CIDADE_AEROPORTO_ORIGEM       779650 non-null  string
 21  UF_AEROPORTO_ORIGEM           728009 non-null  string
 22  PAIS_AEROPORTO_DORIGEM        781046 non-null  string
 23  CONTINENTE_AEROPORTO_ORIGEM   781046 non-null  string
 24  SIGLA_OACI_EMPRESAS           754369 non-null  string
 25  NM_EMPRESAS                   754369 non-null  string
 26  NACIONAL_OU_ESTRANGEIRA       752999 non-null  string
 27  DATA_PARTIDA_REAL             753684 non-null  datetime64[ns]
 28  HORA_PARTIDA_REAL             753684 non-null  object
 29  DIA_SEMANA_PARTIDA_REAL       789907 non-null  string
 30  MES_INDICEPARTIDA_REAL        753684 non-null  float64
 31  MES_PARTIDA_REAL              789907 non-null  string
 32  TRIMESTRE_PARTIDA_REAL        789907 non-null  string
 33  TURNO_PARTIDA_REAL            789907 non-null  string
 34  DATA_PARTIDA_PREVISTA         771720 non-null  datetime64[ns]
 35  HORA_PARTIDA_PREVISTA         771720 non-null  object
 36  DIA_SEMANA_PARTIDA_PREVISTA   789907 non-null  string
 37  MES_INDICEPARTIDA_PREVISTA    771720 non-null  float64
 38  MES_PARTIDA_PREVISTA          789907 non-null  string
 39  TRIMESTRE_PARTIDA_PREVISTA    789907 non-null  string
 40  TURNO_PARTIDA_PREVISTA        789907 non-null  string
 41  DATA_CHEGADA_PREVISTA         771720 non-null  datetime64[ns]
 42  HORA_CHEGADA_PREVISTA         771720 non-null  object
 43  DIA_SEMANA_CHEGADA_PREVISTA   789907 non-null  string
 44  MES_INDICECHEGADA_PREVISTA    771720 non-null  float64
 45  MES_CHEGADA_PREVISTA          789907 non-null  string
 46  TRIMESTRE_CHEGADA_PREVISTA    789907 non-null  string
 47  TURNO_CHEGADA_PREVISTA        789907 non-null  string
 48  DATA_CHEGADA_REAL             753665 non-null  datetime64[ns]
 49  HORA_CHEGADA_REAL             753665 non-null  object
 50  DIA_SEMANA_CHEGADA_REAL       789907 non-null  string
 51  MES_INDICECHEGADA_REAL        753665 non-null  float64
 52  MES_CHEGADA_REAL              789907 non-null  string
 53  TRIMESTRE_CHEGADA_REAL        789907 non-null  string
 54  TURNO_CHEGADA_REAL            789907 non-null  string
 55  ATRASO_SAIDA                  735497 non-null  float64
 56  ATRASO_CHEGADA                735478 non-null  float64
 57  FAIXA_ATRASO_SAIDA            789907 non-null  string
 58  FAIXA_ATRASO_CHEGADA          789907 non-null  string
dtypes: datetime64[ns](8), float64(6), int64(1), object(4), string(40)
memory usage: 355.6+ MB

In [17]:
dados_vooo_completo.head()

,Unnamed: 0,?SG_ICAO_EMPRESA_AEREA,NR_VOO,CODIGO_DI,CODIGO_TIPO_LINHA,SIGLA_ICAO_AEROPORTO_ORIGEM,SIGLA_ICAO_AEROPORTO_DESTINO,PARTIDA_PREVISTA,PARTIDA_REAL,CHEGADA_PREVISTA,...,HORA_CHEGADA_REAL,DIA_SEMANA_CHEGADA_REAL,MES_INDICECHEGADA_REAL,MES_CHEGADA_REAL,TRIMESTRE_CHEGADA_REAL,TURNO_CHEGADA_REAL,ATRASO_SAIDA,ATRASO_CHEGADA,FAIXA_ATRASO_SAIDA,FAIXA_ATRASO_CHEGADA
0,0,AAL,262,0,I,SBGL,KMIA,2022-03-01 22:30:00,2022-03-01 22:35:00,2022-03-02 07:10:00,...,07:11:00,Quarta-feira,3.0,Março,Primeiro trimestre,Manhã,5.0,1.0,Saída dentro da faixa Aceitavel,Chegada dentro da faixa Aceitavel
1,1,AAL,263,0,I,KMIA,SBGL,2022-03-01 00:45:00,2022-03-01 01:58:00,2022-03-01 09:05:00,...,11:07:00,Terça-feira,3.0,Março,Primeiro trimestre,Manhã,73.0,122.0,Saída com atraso de mais de 1h,Chegada com atraso de mais de 2h
2,2,AAL,789,2,X,KMIA,SBGR,NaT,2022-03-01 02:54:00,NaT,...,11:02:00,Terça-feira,3.0,Março,Primeiro trimestre,Manhã,NaN,NaN,Não encontrado,Não encontrado
3,3,AAL,790,2,X,SBGR,KMIA,NaT,2022-03-01 11:17:00,NaT,...,19:13:00,Terça-feira,3.0,Março,Primeiro trimestre,Noite,NaN,NaN,Não encontrado,Não encontrado
4,4,AAL,904,0,I,SBGL,KMIA,2022-03-01 00:05:00,2022-03-01 00:00:00,2022-03-01 08:40:00,...,08:03:00,Terça-feira,3.0,Março,Primeiro trimestre,Manhã,-5.0,-37.0,Saída antes do previsto,Chegou antes do previsto

# quantos vôos cancelados, atrasado, Realizados, Dentro do prazo-> Filtrar por nome de compania, aeroporto, mês ano

<h6>Total Vôos Empresas</h6>

In [57]:
def total_situacao_voo(filtro_mes: str = None, filtro_compania: str = None) -> pd.DataFrame:
    """
    Retorna um dataframe com as situações do voo
    :param filtro_compania:
    :param filtro_mes:
    :param nome_coluna:
    :return:
    """
    dados_vooo_completo_cp =dados_vooo_completo.copy()
    if filtro_mes is not None:
        df_situacao_voo = dados_vooo_completo_cp[dados_vooo_completo['MES_PARTIDA_PREVISTA'].isin(filtro_mes)]
    if filtro_compania is not None:
        df_situacao_voo = dados_vooo_completo_cp[dados_vooo_completo['NM_EMPRESAS'].isin(filtro_compania)]

    total_voos = df_situacao_voo.groupby(['SITUACAO_VOO']).size().reset_index(name='TOTAL_VOOS')
    return total_voos

In [58]:
total_situacao_voo(['Maio'])

     SITUACAO_VOO  TOTAL_VOOS
0       CANCELADO        3653
1  NÃO INFORMADO         112
2       REALIZADO       81241

In [28]:
dados_vooo_completo.groupby(['MES_PARTIDA_PREVISTA', 'NM_EMPRESAS', 'SITUACAO_VOO']).size().reset_index(
    name='TOTAL_VOOS').query('')

     MES_PARTIDA_PREVISTA            NM_EMPRESAS    SITUACAO_VOO  TOTAL_VOOS
0                   Abril                 ABAETE  NÃO INFORMADO          82
1                   Abril                 ABAETE       REALIZADO           6
2                   Abril                   ABSA       CANCELADO          62
3                   Abril                   ABSA       REALIZADO         214
4                   Abril  AEROLINEAS ARGENTINAS       CANCELADO          34
...                   ...                    ...             ...         ...
1092             Setembro  TURKISH AIRLINES INC.       REALIZADO         141
1093             Setembro        UNITED AIRLINES       CANCELADO           2
1094             Setembro        UNITED AIRLINES       REALIZADO         269
1095             Setembro  UNITED PARCEL SERVICE       CANCELADO           6
1096             Setembro  UNITED PARCEL SERVICE       REALIZADO         117

[1097 rows x 4 columns]

In [31]:
dados_vooo_completo['DATA_CHEGADA_PREVISTA'].count()

771720

In [22]:
df_filtrado = dados_vooo_completo[(dados_vooo_completo['SITUACAO_VOO'] == 'CANCELADO') & (
            dados_vooo_completo['NACIONAL_OU_ESTRANGEIRA'] == 'BRASILEIRA')]
df_filtrado.groupby(['NM_EMPRESAS'])['SITUACAO_VOO'].count()

NM_EMPRESAS
ABAETE                 116
ABSA                   848
AZUL                 10064
GOL                   2179
MAP LINHAS AEREAS      939
PASSAREDO             2685
TAM                   3294
TOTAL                  324
Name: SITUACAO_VOO, dtype: int64

# Total de vôos de uma compania por mês Filtrando por situação do vôo

In [30]:
df_total_voos_compania = dados_vooo_completo[(dados_vooo_completo['SITUACAO_VOO'] == 'CANCELADO')]
#df_total_voos_compania = dados_vooo_completo[(dados_vooo_completo['SITUACAO_VOO'] == 'CANCELADO') & (dados_vooo_completo['NM_EMPRESAS'] == 'GOL')]
df_total_voos_compania.groupby(['MES_PARTIDA_PREVISTA', 'NM_EMPRESAS'])['SITUACAO_VOO'].count()

MES_PARTIDA_PREVISTA  NM_EMPRESAS
Abril                 ABSA                                         62
                      AEROLINEAS ARGENTINAS                        34
                      AEROTRANSPORTES MAS DE CARGA S.A. DE C.V.     2
                      AIR ATLANTA ICELANDIC                         2
                      AIR CANADA                                   20
                                                                   ..
Setembro              TAP AIR PORTUGAL                              6
                      TOTAL                                        19
                      TURKISH AIRLINES INC.                         2
                      UNITED AIRLINES                               2
                      UNITED PARCEL SERVICE                         6
Name: SITUACAO_VOO, Length: 472, dtype: int64