In [1]:
import os
import pandas as pd
import zipfile

In [3]:
os.getcwd()
os.chdir('F:\projetos\historico_voos')
os.getcwd()

'F:\\projetos\\historico_voos'

In [4]:
caminho = os.getcwd() + '\\data\\processed\\df_dados_voo_completo.zip'

In [5]:
with zipfile.ZipFile(caminho) as z:
    print(*z.namelist(), sep='\n')
    with z.open('df_dados_voo_completo.csv') as df:
        dados_voo = pd.read_csv(df, sep=';', encoding='ISO-8859-1')

df_dados_voo_completo.csv

F:\projetos\historico_voos\venv\lib\site-packages\IPython\core\interactiveshell.py:3258: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
dados_voo = pd.read_csv(caminho, sep=';', encoding='ISO-8859-1')

F:\projetos\historico_voos\venv\lib\site-packages\IPython\core\interactiveshell.py:3258: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
dados_voo.shape

(789907, 27)

In [8]:
dados_voo.head(5)

,Unnamed: 0,?SG_ICAO_EMPRESA_AEREA,NR_VOO,CODIGO_DI,CODIGO_TIPO_LINHA,SIGLA_ICAO_AEROPORTO_ORIGEM,SIGLA_ICAO_AEROPORTO_DESTINO,PARTIDA_PREVISTA,PARTIDA_REAL,CHEGADA_PREVISTA,...,CONTINENTE_AEROPORTO_DESTINO,SIGLA_OACI_AEROPORTO_ORIGEM,DESCRICAO_AEROPORTO_ORIGEM,CIDADE_AEROPORTO_ORIGEM,UF_AEROPORTO_ORIGEM,PAIS_AEROPORTO_DORIGEM,CONTINENTE_AEROPORTO_ORIGEM,SIGLA_OACI_EMPRESAS,NM_EMPRESAS,NACIONAL_OU_ESTRANGEIRA
0,0,AAL,262,0,I,SBGL,KMIA,2022-03-01 22:30:00,2022-03-01 22:35:00,2022-03-02 07:10:00,...,AMERICA DO NORTE,SBGL,AEROPORTO INTERNACIONAL DO RIO DE JANEIRO/GALE...,RIO DE JANEIRO,RJ,BRASIL,AMERICA DO SUL,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA
1,1,AAL,263,0,I,KMIA,SBGL,2022-03-01 00:45:00,2022-03-01 01:58:00,2022-03-01 09:05:00,...,AMERICA DO SUL,KMIA,MIAMI INTERNATIONAL AIRPORT,MIAMI,NaN,ESTADOS UNIDOS DA AMERICA,AMERICA DO NORTE,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA
2,2,AAL,789,2,X,KMIA,SBGR,NaN,2022-03-01 02:54:00,NaN,...,AMERICA DO SUL,KMIA,MIAMI INTERNATIONAL AIRPORT,MIAMI,NaN,ESTADOS UNIDOS DA AMERICA,AMERICA DO NORTE,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA
3,3,AAL,790,2,X,SBGR,KMIA,NaN,2022-03-01 11:17:00,NaN,...,AMERICA DO NORTE,SBGR,GUARULHOS - GOVERNADOR ANDRÃ FRANCO MONTORO,GUARULHOS,SP,BRASIL,AMERICA DO SUL,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA
4,4,AAL,904,0,I,SBGL,KMIA,2022-03-01 00:05:00,2022-03-01 00:00:00,2022-03-01 08:40:00,...,AMERICA DO NORTE,SBGL,AEROPORTO INTERNACIONAL DO RIO DE JANEIRO/GALE...,RIO DE JANEIRO,RJ,BRASIL,AMERICA DO SUL,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA

In [33]:
df_aeroporto_destino = pd.read_excel(os.getcwd() + '\\data\\raw\\glossario_de_aerodromo.xls', skiprows=3)
df_aeroporto_destino.rename(columns={'Sigla OACI' : 'SIGLA_OACI_AEROPORTO_DESTINO',
                             'Descrição': 'DESCRICAO_AEROPORTO_DESTINO',
                             'Cidade': 'CIDADE_AEROPORTO_DESTINO',
                             'UF': 'UF_AEROPORTO_DESTINO',
                             'País': 'PAIS_AEROPORTO_DESTINO',
                             'Continente': 'CONTINENTE_AEROPORTO_DESTINO'}, inplace = True)
df_aeroporto_destino.head()

,Unnamed: 0,SIGLA_OACI_AEROPORTO_DESTINO,DESCRICAO_AEROPORTO_DESTINO,CIDADE_AEROPORTO_DESTINO,UF_AEROPORTO_DESTINO,PAIS_AEROPORTO_DESTINO,CONTINENTE_AEROPORTO_DESTINO
0,NaN,1AON,OUROLANDIA DO NORTE,OURILANDIA DO NORTE,PA,BRASIL,AMERICA DO SUL
1,NaN,2NHT,HOTEL TRANSAMÉRICA,UNA,BA,BRASIL,AMERICA DO SUL
2,NaN,6ASO,SORRISO,SORRISO,MT,BRASIL,AMERICA DO SUL
3,NaN,CYMX,MONTREAL-MIRABEL INTERNATIONAL AIRPORT,MIRABEL,NaN,CANADA,AMERICA DO NORTE
4,NaN,CYQB,QUEBEC CITY JEAN LESAGE INTERNATIONAL AIRPORT,QUEBEC JEAN LESAGE INTL,NaN,CANADA,AMERICA DO NORTE

In [34]:
df_aeroporto_origem = pd.read_excel(os.getcwd() + '\\data\\raw\\glossario_de_aerodromo.xls', skiprows=3)
df_aeroporto_origem.rename(columns={'Sigla OACI' : 'SIGLA_OACI_AEROPORTO_ORIGEM',
                             'Descrição': 'DESCRICAO_AEROPORTO_ORIGEM',
                             'Cidade': 'CIDADE_AEROPORTO_ORIGEM',
                             'UF': 'UF_AEROPORTO_ORIGEM',
                             'País': 'PAIS_AEROPORTO_DORIGEM',
                             'Continente': 'CONTINENTE_AEROPORTO_ORIGEM'}, inplace = True)
df_aeroporto_origem.head()

,Unnamed: 0,SIGLA_OACI_AEROPORTO_ORIGEM,DESCRICAO_AEROPORTO_ORIGEM,CIDADE_AEROPORTO_ORIGEM,UF_AEROPORTO_ORIGEM,PAIS_AEROPORTO_DORIGEM,CONTINENTE_AEROPORTO_ORIGEM
0,NaN,1AON,OUROLANDIA DO NORTE,OURILANDIA DO NORTE,PA,BRASIL,AMERICA DO SUL
1,NaN,2NHT,HOTEL TRANSAMÉRICA,UNA,BA,BRASIL,AMERICA DO SUL
2,NaN,6ASO,SORRISO,SORRISO,MT,BRASIL,AMERICA DO SUL
3,NaN,CYMX,MONTREAL-MIRABEL INTERNATIONAL AIRPORT,MIRABEL,NaN,CANADA,AMERICA DO NORTE
4,NaN,CYQB,QUEBEC CITY JEAN LESAGE INTERNATIONAL AIRPORT,QUEBEC JEAN LESAGE INTL,NaN,CANADA,AMERICA DO NORTE

In [35]:
df_empresas_aereas = pd.read_excel(os.getcwd() + '\\data\\raw\\glossario_de_empresas_aereas.xls', skiprows=3)

In [36]:
df_empresas_aereas.rename(
    columns={
        'Sigla OACI': 'SIGLA_OACI_EMPRESAS',
        'Nome Empresas': 'NM_EMPRESAS',
        'Nacional ou Estrangeira': 'NACIONAL_OU_ESTRANGEIRA'
    }, inplace=True
)
df_empresas_aereas.head()

,Unnamed: 0,SIGLA_OACI_EMPRESAS,NM_EMPRESAS,Unnamed: 3,NACIONAL_OU_ESTRANGEIRA
0,NaN,AAL,AMERICAN AIRLINES INC,NaN,ESTRANGEIRA
1,NaN,ABD,AIR ATLANTA ICELANDIC,NaN,ESTRANGEIRA
2,NaN,ABJ,ABAETE,NaN,BRASILEIRA
3,NaN,ABZ,ATA BRASIL,NaN,BRASILEIRA
4,NaN,ACA,AIR CANADA,NaN,ESTRANGEIRA

In [37]:
df_dados_voos_int_dest = pd.merge(dados_voo, df_aeroporto_destino, how='left', left_on='SIGLA_ICAO_AEROPORTO_DESTINO', right_on='SIGLA_OACI_AEROPORTO_DESTINO' )

In [38]:
df_dados_voos_int_dest.head()

,?SG_ICAO_EMPRESA_AEREA,NR_VOO,CODIGO_DI,CODIGO_TIPO_LINHA,SIGLA_ICAO_AEROPORTO_ORIGEM,SIGLA_ICAO_AEROPORTO_DESTINO,PARTIDA_PREVISTA,PARTIDA_REAL,CHEGADA_PREVISTA,CHEGADA_REAL,SITUACAO_VOO,Unnamed: 0,SIGLA_OACI_AEROPORTO_DESTINO,DESCRICAO_AEROPORTO_DESTINO,CIDADE_AEROPORTO_DESTINO,UF_AEROPORTO_DESTINO,PAIS_AEROPORTO_DESTINO,CONTINENTE_AEROPORTO_DESTINO
0,AAL,262,0,I,SBGL,KMIA,2022-03-01 22:30,2022-03-01 22:35,2022-03-02 07:10,2022-03-02 07:11,REALIZADO,NaN,KMIA,MIAMI INTERNATIONAL AIRPORT,MIAMI,NaN,ESTADOS UNIDOS DA AMERICA,AMERICA DO NORTE
1,AAL,263,0,I,KMIA,SBGL,2022-03-01 00:45,2022-03-01 01:58,2022-03-01 09:05,2022-03-01 11:07,REALIZADO,NaN,SBGL,AEROPORTO INTERNACIONAL DO RIO DE JANEIRO/GALE...,RIO DE JANEIRO,RJ,BRASIL,AMERICA DO SUL
2,AAL,789,2,X,KMIA,SBGR,NaN,2022-03-01 02:54,NaN,2022-03-01 11:02,REALIZADO,NaN,SBGR,GUARULHOS - GOVERNADOR ANDRÉ FRANCO MONTORO,GUARULHOS,SP,BRASIL,AMERICA DO SUL
3,AAL,790,2,X,SBGR,KMIA,NaN,2022-03-01 11:17,NaN,2022-03-01 19:13,REALIZADO,NaN,KMIA,MIAMI INTERNATIONAL AIRPORT,MIAMI,NaN,ESTADOS UNIDOS DA AMERICA,AMERICA DO NORTE
4,AAL,904,0,I,SBGL,KMIA,2022-03-01 00:05,2022-03-01 00:00,2022-03-01 08:40,2022-03-01 08:03,REALIZADO,NaN,KMIA,MIAMI INTERNATIONAL AIRPORT,MIAMI,NaN,ESTADOS UNIDOS DA AMERICA,AMERICA DO NORTE

In [39]:
df_dados_voos_int_dest.shape

(789907, 18)

In [40]:
df_dados_voos_int_orig = pd.merge(df_dados_voos_int_dest, df_aeroporto_origem, how='left', left_on='SIGLA_ICAO_AEROPORTO_ORIGEM', right_on='SIGLA_OACI_AEROPORTO_ORIGEM')

In [41]:
df_dados_voos_int_orig.head(10)

,?SG_ICAO_EMPRESA_AEREA,NR_VOO,CODIGO_DI,CODIGO_TIPO_LINHA,SIGLA_ICAO_AEROPORTO_ORIGEM,SIGLA_ICAO_AEROPORTO_DESTINO,PARTIDA_PREVISTA,PARTIDA_REAL,CHEGADA_PREVISTA,CHEGADA_REAL,...,UF_AEROPORTO_DESTINO,PAIS_AEROPORTO_DESTINO,CONTINENTE_AEROPORTO_DESTINO,Unnamed: 0_y,SIGLA_OACI_AEROPORTO_ORIGEM,DESCRICAO_AEROPORTO_ORIGEM,CIDADE_AEROPORTO_ORIGEM,UF_AEROPORTO_ORIGEM,PAIS_AEROPORTO_DORIGEM,CONTINENTE_AEROPORTO_ORIGEM
0,AAL,262,0,I,SBGL,KMIA,2022-03-01 22:30,2022-03-01 22:35,2022-03-02 07:10,2022-03-02 07:11,...,NaN,ESTADOS UNIDOS DA AMERICA,AMERICA DO NORTE,NaN,SBGL,AEROPORTO INTERNACIONAL DO RIO DE JANEIRO/GALE...,RIO DE JANEIRO,RJ,BRASIL,AMERICA DO SUL
1,AAL,263,0,I,KMIA,SBGL,2022-03-01 00:45,2022-03-01 01:58,2022-03-01 09:05,2022-03-01 11:07,...,RJ,BRASIL,AMERICA DO SUL,NaN,KMIA,MIAMI INTERNATIONAL AIRPORT,MIAMI,NaN,ESTADOS UNIDOS DA AMERICA,AMERICA DO NORTE
2,AAL,789,2,X,KMIA,SBGR,NaN,2022-03-01 02:54,NaN,2022-03-01 11:02,...,SP,BRASIL,AMERICA DO SUL,NaN,KMIA,MIAMI INTERNATIONAL AIRPORT,MIAMI,NaN,ESTADOS UNIDOS DA AMERICA,AMERICA DO NORTE
3,AAL,790,2,X,SBGR,KMIA,NaN,2022-03-01 11:17,NaN,2022-03-01 19:13,...,NaN,ESTADOS UNIDOS DA AMERICA,AMERICA DO NORTE,NaN,SBGR,GUARULHOS - GOVERNADOR ANDRÉ FRANCO MONTORO,GUARULHOS,SP,BRASIL,AMERICA DO SUL
4,AAL,904,0,I,SBGL,KMIA,2022-03-01 00:05,2022-03-01 00:00,2022-03-01 08:40,2022-03-01 08:03,...,NaN,ESTADOS UNIDOS DA AMERICA,AMERICA DO NORTE,NaN,SBGL,AEROPORTO INTERNACIONAL DO RIO DE JANEIRO/GALE...,RIO DE JANEIRO,RJ,BRASIL,AMERICA DO SUL
5,AAL,905,0,I,KMIA,SBGL,2022-03-01 22:00,2022-03-01 22:02,2022-03-02 06:20,2022-03-02 06:19,...,RJ,BRASIL,AMERICA DO SUL,NaN,KMIA,MIAMI INTERNATIONAL AIRPORT,MIAMI,NaN,ESTADOS UNIDOS DA AMERICA,AMERICA DO NORTE
6,AAL,906,2,X,SBGR,KMIA,NaN,2022-03-01 00:08,NaN,2022-03-01 08:18,...,NaN,ESTADOS UNIDOS DA AMERICA,AMERICA DO NORTE,NaN,SBGR,GUARULHOS - GOVERNADOR ANDRÉ FRANCO MONTORO,GUARULHOS,SP,BRASIL,AMERICA DO SUL
7,AAL,929,0,I,KMIA,SBGR,2022-03-01 21:50,2022-03-01 21:47,2022-03-02 06:20,2022-03-02 05:58,...,SP,BRASIL,AMERICA DO SUL,NaN,KMIA,MIAMI INTERNATIONAL AIRPORT,MIAMI,NaN,ESTADOS UNIDOS DA AMERICA,AMERICA DO NORTE
8,AAL,930,0,I,SBGR,KMIA,2022-03-01 22:30,2022-03-01 22:25,2022-03-02 06:45,2022-03-02 06:34,...,NaN,ESTADOS UNIDOS DA AMERICA,AMERICA DO NORTE,NaN,SBGR,GUARULHOS - GOVERNADOR ANDRÉ FRANCO MONTORO,GUARULHOS,SP,BRASIL,AMERICA DO SUL
9,AAL,950,0,I,SBGR,KJFK,2022-03-01 23:20,2022-03-01 23:28,2022-03-02 09:10,2022-03-02 08:51,...,NaN,ESTADOS UNIDOS DA AMERICA,AMERICA DO NORTE,NaN,SBGR,GUARULHOS - GOVERNADOR ANDRÉ FRANCO MONTORO,GUARULHOS,SP,BRASIL,AMERICA DO SUL

In [42]:
df_dados_voos_int_orig.shape

(789907, 25)

In [44]:
df_dados_voo_completo = pd.merge(df_dados_voos_int_orig, df_empresas_aereas, how='left', left_on='?SG_ICAO_EMPRESA_AEREA', right_on='SIGLA_OACI_EMPRESAS')
df_dados_voo_completo.head()

,?SG_ICAO_EMPRESA_AEREA,NR_VOO,CODIGO_DI,CODIGO_TIPO_LINHA,SIGLA_ICAO_AEROPORTO_ORIGEM,SIGLA_ICAO_AEROPORTO_DESTINO,PARTIDA_PREVISTA,PARTIDA_REAL,CHEGADA_PREVISTA,CHEGADA_REAL,...,DESCRICAO_AEROPORTO_ORIGEM,CIDADE_AEROPORTO_ORIGEM,UF_AEROPORTO_ORIGEM,PAIS_AEROPORTO_DORIGEM,CONTINENTE_AEROPORTO_ORIGEM,Unnamed: 0,SIGLA_OACI_EMPRESAS,NM_EMPRESAS,Unnamed: 3,NACIONAL_OU_ESTRANGEIRA
0,AAL,262,0,I,SBGL,KMIA,2022-03-01 22:30,2022-03-01 22:35,2022-03-02 07:10,2022-03-02 07:11,...,AEROPORTO INTERNACIONAL DO RIO DE JANEIRO/GALE...,RIO DE JANEIRO,RJ,BRASIL,AMERICA DO SUL,NaN,AAL,AMERICAN AIRLINES INC,NaN,ESTRANGEIRA
1,AAL,263,0,I,KMIA,SBGL,2022-03-01 00:45,2022-03-01 01:58,2022-03-01 09:05,2022-03-01 11:07,...,MIAMI INTERNATIONAL AIRPORT,MIAMI,NaN,ESTADOS UNIDOS DA AMERICA,AMERICA DO NORTE,NaN,AAL,AMERICAN AIRLINES INC,NaN,ESTRANGEIRA
2,AAL,789,2,X,KMIA,SBGR,NaN,2022-03-01 02:54,NaN,2022-03-01 11:02,...,MIAMI INTERNATIONAL AIRPORT,MIAMI,NaN,ESTADOS UNIDOS DA AMERICA,AMERICA DO NORTE,NaN,AAL,AMERICAN AIRLINES INC,NaN,ESTRANGEIRA
3,AAL,790,2,X,SBGR,KMIA,NaN,2022-03-01 11:17,NaN,2022-03-01 19:13,...,GUARULHOS - GOVERNADOR ANDRÉ FRANCO MONTORO,GUARULHOS,SP,BRASIL,AMERICA DO SUL,NaN,AAL,AMERICAN AIRLINES INC,NaN,ESTRANGEIRA
4,AAL,904,0,I,SBGL,KMIA,2022-03-01 00:05,2022-03-01 00:00,2022-03-01 08:40,2022-03-01 08:03,...,AEROPORTO INTERNACIONAL DO RIO DE JANEIRO/GALE...,RIO DE JANEIRO,RJ,BRASIL,AMERICA DO SUL,NaN,AAL,AMERICAN AIRLINES INC,NaN,ESTRANGEIRA

In [45]:
df_dados_voo_completo.drop(['Unnamed: 0', 'Unnamed: 0_x', 'Unnamed: 0_y', 'Unnamed: 3'], axis=1, inplace=True)

In [46]:
df_dados_voo_completo.columns

Index(['?SG_ICAO_EMPRESA_AEREA', 'NR_VOO', 'CODIGO_DI', 'CODIGO_TIPO_LINHA',
       'SIGLA_ICAO_AEROPORTO_ORIGEM', 'SIGLA_ICAO_AEROPORTO_DESTINO',
       'PARTIDA_PREVISTA', 'PARTIDA_REAL', 'CHEGADA_PREVISTA', 'CHEGADA_REAL',
       'SITUACAO_VOO', 'SIGLA_OACI_AEROPORTO_DESTINO',
       'DESCRICAO_AEROPORTO_DESTINO', 'CIDADE_AEROPORTO_DESTINO',
       'UF_AEROPORTO_DESTINO', 'PAIS_AEROPORTO_DESTINO',
       'CONTINENTE_AEROPORTO_DESTINO', 'SIGLA_OACI_AEROPORTO_ORIGEM',
       'DESCRICAO_AEROPORTO_ORIGEM', 'CIDADE_AEROPORTO_ORIGEM',
       'UF_AEROPORTO_ORIGEM', 'PAIS_AEROPORTO_DORIGEM',
       'CONTINENTE_AEROPORTO_ORIGEM', 'SIGLA_OACI_EMPRESAS', 'NM_EMPRESAS',
       'NACIONAL_OU_ESTRANGEIRA'],
      dtype='object')

In [47]:
df_dados_voo_completo.head()

,?SG_ICAO_EMPRESA_AEREA,NR_VOO,CODIGO_DI,CODIGO_TIPO_LINHA,SIGLA_ICAO_AEROPORTO_ORIGEM,SIGLA_ICAO_AEROPORTO_DESTINO,PARTIDA_PREVISTA,PARTIDA_REAL,CHEGADA_PREVISTA,CHEGADA_REAL,...,CONTINENTE_AEROPORTO_DESTINO,SIGLA_OACI_AEROPORTO_ORIGEM,DESCRICAO_AEROPORTO_ORIGEM,CIDADE_AEROPORTO_ORIGEM,UF_AEROPORTO_ORIGEM,PAIS_AEROPORTO_DORIGEM,CONTINENTE_AEROPORTO_ORIGEM,SIGLA_OACI_EMPRESAS,NM_EMPRESAS,NACIONAL_OU_ESTRANGEIRA
0,AAL,262,0,I,SBGL,KMIA,2022-03-01 22:30,2022-03-01 22:35,2022-03-02 07:10,2022-03-02 07:11,...,AMERICA DO NORTE,SBGL,AEROPORTO INTERNACIONAL DO RIO DE JANEIRO/GALE...,RIO DE JANEIRO,RJ,BRASIL,AMERICA DO SUL,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA
1,AAL,263,0,I,KMIA,SBGL,2022-03-01 00:45,2022-03-01 01:58,2022-03-01 09:05,2022-03-01 11:07,...,AMERICA DO SUL,KMIA,MIAMI INTERNATIONAL AIRPORT,MIAMI,NaN,ESTADOS UNIDOS DA AMERICA,AMERICA DO NORTE,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA
2,AAL,789,2,X,KMIA,SBGR,NaN,2022-03-01 02:54,NaN,2022-03-01 11:02,...,AMERICA DO SUL,KMIA,MIAMI INTERNATIONAL AIRPORT,MIAMI,NaN,ESTADOS UNIDOS DA AMERICA,AMERICA DO NORTE,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA
3,AAL,790,2,X,SBGR,KMIA,NaN,2022-03-01 11:17,NaN,2022-03-01 19:13,...,AMERICA DO NORTE,SBGR,GUARULHOS - GOVERNADOR ANDRÉ FRANCO MONTORO,GUARULHOS,SP,BRASIL,AMERICA DO SUL,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA
4,AAL,904,0,I,SBGL,KMIA,2022-03-01 00:05,2022-03-01 00:00,2022-03-01 08:40,2022-03-01 08:03,...,AMERICA DO NORTE,SBGL,AEROPORTO INTERNACIONAL DO RIO DE JANEIRO/GALE...,RIO DE JANEIRO,RJ,BRASIL,AMERICA DO SUL,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA

In [48]:
df_dados_voo_completo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 789907 entries, 0 to 789906
Data columns (total 26 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   ?SG_ICAO_EMPRESA_AEREA        789907 non-null  object
 1   NR_VOO                        789907 non-null  object
 2   CODIGO_DI                     789907 non-null  object
 3   CODIGO_TIPO_LINHA             789904 non-null  object
 4   SIGLA_ICAO_AEROPORTO_ORIGEM   789907 non-null  object
 5   SIGLA_ICAO_AEROPORTO_DESTINO  789907 non-null  object
 6   PARTIDA_PREVISTA              771720 non-null  object
 7   PARTIDA_REAL                  753685 non-null  object
 8   CHEGADA_PREVISTA              771720 non-null  object
 9   CHEGADA_REAL                  753665 non-null  object
 10  SITUACAO_VOO                  789907 non-null  object
 11  SIGLA_OACI_AEROPORTO_DESTINO  780971 non-null  object
 12  DESCRICAO_AEROPORTO_DESTINO   780971 non-null  object
 13  CIDADE_AEROPORTO_DESTINO      779435 non-null  object
 14  UF_AEROPORTO_DESTINO          727648 non-null  object
 15  PAIS_AEROPORTO_DESTINO        780971 non-null  object
 16  CONTINENTE_AEROPORTO_DESTINO  780971 non-null  object
 17  SIGLA_OACI_AEROPORTO_ORIGEM   781046 non-null  object
 18  DESCRICAO_AEROPORTO_ORIGEM    781046 non-null  object
 19  CIDADE_AEROPORTO_ORIGEM       779650 non-null  object
 20  UF_AEROPORTO_ORIGEM           728009 non-null  object
 21  PAIS_AEROPORTO_DORIGEM        781046 non-null  object
 22  CONTINENTE_AEROPORTO_ORIGEM   781046 non-null  object
 23  SIGLA_OACI_EMPRESAS           754369 non-null  object
 24  NM_EMPRESAS                   754369 non-null  object
 25  NACIONAL_OU_ESTRANGEIRA       752999 non-null  object
dtypes: object(26)
memory usage: 162.7+ MB

In [59]:
df_dados_voo_completo['?SG_ICAO_EMPRESA_AEREA'] = df_dados_voo_completo['?SG_ICAO_EMPRESA_AEREA'].astype('string')
df_dados_voo_completo['NR_VOO'] = df_dados_voo_completo['NR_VOO'].astype('string')
df_dados_voo_completo['CODIGO_DI'] = df_dados_voo_completo['CODIGO_DI'].astype('string')
df_dados_voo_completo['CODIGO_TIPO_LINHA'] = df_dados_voo_completo['CODIGO_TIPO_LINHA'].astype('string')
df_dados_voo_completo['SIGLA_ICAO_AEROPORTO_ORIGEM'] = df_dados_voo_completo['SIGLA_ICAO_AEROPORTO_ORIGEM'].astype('string')
df_dados_voo_completo['SIGLA_ICAO_AEROPORTO_DESTINO'] = df_dados_voo_completo['SIGLA_ICAO_AEROPORTO_DESTINO'].astype('string')
df_dados_voo_completo['PARTIDA_PREVISTA'] = pd.to_datetime(df_dados_voo_completo['PARTIDA_PREVISTA'], format='%Y-%m-%d %H:%M', errors='coerce')
df_dados_voo_completo['PARTIDA_REAL'] = pd.to_datetime(df_dados_voo_completo['PARTIDA_REAL'], format='%Y-%m-%d %H:%M', errors='coerce')
df_dados_voo_completo['CHEGADA_PREVISTA'] = pd.to_datetime(df_dados_voo_completo['CHEGADA_PREVISTA'], format='%Y-%m-%d %H:%M', errors='coerce')
df_dados_voo_completo['CHEGADA_REAL'] = pd.to_datetime(df_dados_voo_completo['CHEGADA_REAL'], format='%Y-%m-%d %H:%M', errors='coerce')
df_dados_voo_completo['SITUACAO_VOO'] = df_dados_voo_completo['SITUACAO_VOO'].astype('string')
df_dados_voo_completo['DESCRICAO_AEROPORTO_DESTINO'] = df_dados_voo_completo['DESCRICAO_AEROPORTO_DESTINO'].astype('string')
df_dados_voo_completo['CIDADE_AEROPORTO_DESTINO'] = df_dados_voo_completo['CIDADE_AEROPORTO_DESTINO'].astype('string')
df_dados_voo_completo['UF_AEROPORTO_DESTINO'] = df_dados_voo_completo['UF_AEROPORTO_DESTINO'].astype('string')
df_dados_voo_completo['UF_AEROPORTO_ORIGEM'] = df_dados_voo_completo['UF_AEROPORTO_ORIGEM'].astype('string')
df_dados_voo_completo['PAIS_AEROPORTO_DESTINO'] = df_dados_voo_completo['PAIS_AEROPORTO_DESTINO'].astype('string')
df_dados_voo_completo['CONTINENTE_AEROPORTO_DESTINO'] = df_dados_voo_completo['CONTINENTE_AEROPORTO_DESTINO'].astype('string')
df_dados_voo_completo['DESCRICAO_AEROPORTO_ORIGEM'] = df_dados_voo_completo['DESCRICAO_AEROPORTO_ORIGEM'].astype('string')
df_dados_voo_completo['CIDADE_AEROPORTO_ORIGEM'] = df_dados_voo_completo['CIDADE_AEROPORTO_ORIGEM'].astype('string')
df_dados_voo_completo['CIDADE_AEROPORTO_DESTINO'] = df_dados_voo_completo['CIDADE_AEROPORTO_DESTINO'].astype('string')
df_dados_voo_completo['PAIS_AEROPORTO_DORIGEM'] = df_dados_voo_completo['PAIS_AEROPORTO_DORIGEM'].astype('string')
df_dados_voo_completo['PAIS_AEROPORTO_DORIGEM'] = df_dados_voo_completo['PAIS_AEROPORTO_DORIGEM'].astype('string')
df_dados_voo_completo['CONTINENTE_AEROPORTO_ORIGEM'] = df_dados_voo_completo['CONTINENTE_AEROPORTO_ORIGEM'].astype('string')
df_dados_voo_completo['NM_EMPRESAS'] = df_dados_voo_completo['NM_EMPRESAS'].astype('string')
df_dados_voo_completo['NACIONAL_OU_ESTRANGEIRA'] = df_dados_voo_completo['NACIONAL_OU_ESTRANGEIRA'].astype('string')
df_dados_voo_completo['SIGLA_OACI_AEROPORTO_DESTINO'] = df_dados_voo_completo['SIGLA_OACI_AEROPORTO_DESTINO'].astype('string')
df_dados_voo_completo['SIGLA_OACI_AEROPORTO_ORIGEM'] = df_dados_voo_completo['SIGLA_OACI_AEROPORTO_ORIGEM'].astype('string')
df_dados_voo_completo['SIGLA_OACI_EMPRESAS'] = df_dados_voo_completo['SIGLA_OACI_EMPRESAS'].astype('string')

In [57]:
df_dados_voo_completo.head()

,?SG_ICAO_EMPRESA_AEREA,NR_VOO,CODIGO_DI,CODIGO_TIPO_LINHA,SIGLA_ICAO_AEROPORTO_ORIGEM,SIGLA_ICAO_AEROPORTO_DESTINO,PARTIDA_PREVISTA,PARTIDA_REAL,CHEGADA_PREVISTA,CHEGADA_REAL,...,CONTINENTE_AEROPORTO_DESTINO,SIGLA_OACI_AEROPORTO_ORIGEM,DESCRICAO_AEROPORTO_ORIGEM,CIDADE_AEROPORTO_ORIGEM,UF_AEROPORTO_ORIGEM,PAIS_AEROPORTO_DORIGEM,CONTINENTE_AEROPORTO_ORIGEM,SIGLA_OACI_EMPRESAS,NM_EMPRESAS,NACIONAL_OU_ESTRANGEIRA
0,AAL,262,0,I,SBGL,KMIA,2022-03-01 22:30:00,2022-03-01 22:35:00,2022-03-02 07:10:00,2022-03-02 07:11:00,...,AMERICA DO NORTE,SBGL,AEROPORTO INTERNACIONAL DO RIO DE JANEIRO/GALE...,RIO DE JANEIRO,RJ,BRASIL,AMERICA DO SUL,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA
1,AAL,263,0,I,KMIA,SBGL,2022-03-01 00:45:00,2022-03-01 01:58:00,2022-03-01 09:05:00,2022-03-01 11:07:00,...,AMERICA DO SUL,KMIA,MIAMI INTERNATIONAL AIRPORT,MIAMI,<NA>,ESTADOS UNIDOS DA AMERICA,AMERICA DO NORTE,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA
2,AAL,789,2,X,KMIA,SBGR,NaT,2022-03-01 02:54:00,NaT,2022-03-01 11:02:00,...,AMERICA DO SUL,KMIA,MIAMI INTERNATIONAL AIRPORT,MIAMI,<NA>,ESTADOS UNIDOS DA AMERICA,AMERICA DO NORTE,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA
3,AAL,790,2,X,SBGR,KMIA,NaT,2022-03-01 11:17:00,NaT,2022-03-01 19:13:00,...,AMERICA DO NORTE,SBGR,GUARULHOS - GOVERNADOR ANDRÉ FRANCO MONTORO,GUARULHOS,SP,BRASIL,AMERICA DO SUL,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA
4,AAL,904,0,I,SBGL,KMIA,2022-03-01 00:05:00,2022-03-01 00:00:00,2022-03-01 08:40:00,2022-03-01 08:03:00,...,AMERICA DO NORTE,SBGL,AEROPORTO INTERNACIONAL DO RIO DE JANEIRO/GALE...,RIO DE JANEIRO,RJ,BRASIL,AMERICA DO SUL,AAL,AMERICAN AIRLINES INC,ESTRANGEIRA

In [60]:
df_dados_voo_completo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 789907 entries, 0 to 789906
Data columns (total 26 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   ?SG_ICAO_EMPRESA_AEREA        789907 non-null  string
 1   NR_VOO                        789907 non-null  string
 2   CODIGO_DI                     789907 non-null  string
 3   CODIGO_TIPO_LINHA             789904 non-null  string
 4   SIGLA_ICAO_AEROPORTO_ORIGEM   789907 non-null  string
 5   SIGLA_ICAO_AEROPORTO_DESTINO  789907 non-null  string
 6   PARTIDA_PREVISTA              771720 non-null  datetime64[ns]
 7   PARTIDA_REAL                  753684 non-null  datetime64[ns]
 8   CHEGADA_PREVISTA              771720 non-null  datetime64[ns]
 9   CHEGADA_REAL                  753665 non-null  datetime64[ns]
 10  SITUACAO_VOO                  789907 non-null  string
 11  SIGLA_OACI_AEROPORTO_DESTINO  780971 non-null  string
 12  DESCRICAO_AEROPORTO_DESTINO   780971 non-null  string
 13  CIDADE_AEROPORTO_DESTINO      779435 non-null  string
 14  UF_AEROPORTO_DESTINO          727648 non-null  string
 15  PAIS_AEROPORTO_DESTINO        780971 non-null  string
 16  CONTINENTE_AEROPORTO_DESTINO  780971 non-null  string
 17  SIGLA_OACI_AEROPORTO_ORIGEM   781046 non-null  string
 18  DESCRICAO_AEROPORTO_ORIGEM    781046 non-null  string
 19  CIDADE_AEROPORTO_ORIGEM       779650 non-null  string
 20  UF_AEROPORTO_ORIGEM           728009 non-null  string
 21  PAIS_AEROPORTO_DORIGEM        781046 non-null  string
 22  CONTINENTE_AEROPORTO_ORIGEM   781046 non-null  string
 23  SIGLA_OACI_EMPRESAS           754369 non-null  string
 24  NM_EMPRESAS                   754369 non-null  string
 25  NACIONAL_OU_ESTRANGEIRA       752999 non-null  string
dtypes: datetime64[ns](4), string(22)
memory usage: 162.7 MB

In [61]:
df_dados_voo_completo.shape

(789907, 26)

In [74]:
df_dados_voo_completo.to_csv('data/processed/df_dados_voo_completo.csv', sep=';', encoding='utf-8')